.page.dashboard-page {
  .custom-pagination {
    width: 100%;
    min-height: 60px;
    background-color: rgba(255,105,10,0.2);
    position: relative;

    a.item-prev, a.item-next {
      height: 100%;
      width: 50px;
      color: #FFF;
      background-color: rgb(255,105,10);
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;

      &.inactive {
        background-color: #DDDDDD;
        cursor: not-allowed;
      }
    }

    a.item-prev {
      left: 0;
      top: 0;
    }

    a.item-next {
      right: 0;
      top: 0;
    }

    div.pagination-pages {
      width: 100%;
      min-height: 60px;
      padding: 0 50px;
      display: flex;
      align-items: center;
      justify-content: center;

      .page-item {
        display: inline-block;
        float: left;
        margin: 3px;
        height: 18px;
        width: 18px;
        background-color: #fff;
        border-radius: 50%;
        border: 1px solid #FF690A;

        &.active {
          background-color: #FF690A;
        }
      }
    }
  }
}
