.coming-soon {
  position: relative;
  min-height: 350px;
  width: 100%;
  height: 100%;
  .tabs-content {
    border: none;
  }
  .pie-chart-title {
    font-weight: 600;
  }
}

.charts_tel {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.479);
}

.support-form-holder, .legacy-form-holder {
  z-index: 10000000000;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  .form-header {
    padding:1rem;
    position: relative;
    border-bottom:1px rgb(167, 167, 167) solid;
    background: white;
    top:-1px;
    z-index: 99;
    h2 {
      font-size: 1.4rem;
      margin: 0;
      font-weight: 700;
    }
    .btn-close {
      font-size: 18px;
      position: absolute;
      right: 16px;
      top: 1px;
      color:red;
      cursor: pointer;
      &:hover {
        color: red;
      }
    }
  }
}

.support-form-holder {
  // display: none;
  overflow-y: scroll;
  max-width: 430px;
  background: white;
  border: 1px solid white;
  //@include css3(box-shadow,0 0 20px rgba(0, 0, 0, 0.29));

  &.loading {
    &:after {
      content: 'ï„';
      font-size: 3rem;
      font-family: FontAwesome;
      color:#fff;
      position: absolute;
      z-index: 9999;
      text-align: center;
      width: 100%;
      vertical-align: middle;
      left: 0;
      top:40vh;
      -webkit-animation: fa-spin 2s infinite linear;
      animation: fa-spin 2s infinite linear;
    }
    &:before {
      background: rgba(black,0.6);
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 999;
      top:0;
      left: 0;
    }
    @-webkit-keyframes fa-spin {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
      }
    }
    @keyframes fa-spin {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
      }
    }
  }

  input, select {
    font-size: 0.875rem !important;
    height: auto;
    padding:0.5rem !important;
    top:0 !important;
    margin: 0 0 1rem 0 !important;
  }

  .static-form-text {
    margin-bottom: 1rem;
    display: block;
  }

  .columns{
    position: relative;
    > label {
      display: block;
      label {
        display: inline-block;
      }
    }
    .column {
      label {
        display: inline-block;
        margin-left: 0.60976rem;
        margin-right: 1.21951rem;
        margin-bottom: 0;
        vertical-align: baseline;
      }
    }
  }

  label {
    color:#444;
    font-size: 1rem;
    &.error {
      background: red;
      color: white;
      position: absolute;
      bottom: 0px;
      font-size: 0.9em;
      line-height: 1.3rem;
      font-style: italic;
      width: 95%;
      left: 2px;
      padding: 0 0.4rem;
      margin: 0;
      z-index: 9;

      &#description-error {
        margin-left: 9px;
      }
    }
  }

  .form-title {
    font-weight: 700;
  }

  .form-footer {
    padding-top: 1.15385rem;
    border-top: 1px rgb(156, 156, 156) solid;
    background: white;
    width: 100%;
    .button {
      margin-bottom: 0;
      font-size: 1rem;
      font-weight: 600;
      &:hover{
        background: orange;
      }
    }
  }

  legend {
    color: #444;
    display: block;
    font-size: 1.07692rem;
    font-weight: normal;
    line-height: 1.8;
    margin: 0;

  }

  .has-tip {
    line-height: 1rem;
    &.is-required {
      color:red;
      border-color:red;
      font-size: 1.1rem;
      font-weight: 700;
    }
    .fa-question-circle {
      color:blue;
    }
  }

  fieldset.support-form-container {
    margin: 0;
  }

  fieldset.fieldset {
    padding: 0 0.53846rem;
    margin: 0 0 1.23077rem;
    legend {
      background: #F9F9F9;
    }
  }

  .modal {
    .modal-content {
      &.is-error {
        background: red;
        color: white;
      }
      &.is-success {
        background: green;
        color: white;
      }

      .modal-header {
        border-bottom: none;
        button {
          color: white;
        }
      }
    }
  }
}
