// Variable overrides

$color-1: #ff690a;
$color-2: #0c2e82;
$color-3: #fbf3ee;
$color-4: #111;
$color-5: #f5f5f5;
$color-6: #1243a5;
$color-7: #fff8f2;
$color-8: #2F313D;
$color-9: #A9B5D1;
$color-10: #20A8D8;

// $body-bg: #0C2E82;
$body-color: $color-4;
$border-color: #c8ced3;
$info: $color-1;
$primary: $color-2;
$success: $color-10;

// $font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family: "Segoe UI", Roboto, sans-serif;
