// Variable overrides

// $body-bg: #0C2E82;
$body-color: #111;
$border-color: #c8ced3;
$info: #FF690A;
$primary: #0C2E82;
// $font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family: "Segoe UI", Roboto, sans-serif;
