@import "../base/clean-variables";

.accordion {
  background: none;
  list-style-type: none;
  margin-left: 0;


  .accordion-title {
    position: inherit;
    font-size: 1rem;
    font-weight: 600;
    background: $box-heading-bg;
    border-bottom: 1px solid rgba(0, 0, 0, 0.0588235);
    border-radius: 0;
    &:hover, &:focus {
      color: $brand-orange;
    }
  }

  .accordion-item {
    margin: 0 0 2rem;
    background-color: $box-heading-bg;
    &.is-active {
      .accordion-title {
        background-color: $brand-orange !important;
        color: $white;
      }
    }

  }
}
