@import "../base/clean-variables";
@import "../mixins/other-mixin";
.app-levelbar{
  background: rgba($white,0.86);
  margin-bottom: 1.1rem;
  font-weight: 400;
  padding: 1rem rem-calc(14) 1rem rem-calc(24);
  @include css3(box-shadow,0 0 1px rgba($black,0.8));

  li{
    text-transform: capitalize;

    &:before{
      color: #cacaca;
      content: "";
      font-family: FontAwesome;
      display: inline-block;
      margin-left: 5px;
      margin-right: 5px;
    }
  }

  > * a {
    color: #8c92a3;
  }
  .subtitle{
    float: left;
    text-transform: uppercase;
    margin:0;
    color: $charcoal;
  }
   .level-left{
     display: none;
   }
  .level-right{
    .breadcrumb{
      justify-content: flex-start;
      position: relative;
      padding-left: 1.1rem;
      margin-bottom: 0;
      &:before{
        font-family: FontAwesome;
        content: '';
        display: inline-block;
        margin-right: 0.5rem;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
}

.breadcrumb{
  margin-left: 0.5rem;
  > li + li:before {
    color: #cacaca;
    content: "" !important;
    font-family: FontAwesome;
    display: inline-block;
    margin-left: 0;
    margin-right: 0;

}

}
