.for-clean{
  background: $snow;
  color: #8c92a3;
  font-size: 12px;
  margin-bottom: 0.5rem;
  /*  border-bottom: 1px material-color('grey','300') solid;*/
  padding: 14px 14px 13px 55px;
  li{
    color: #8c92a3;
    font-size: rem-calc(12);
    text-transform: capitalize;
    &:not(:last-child)::after {
      color: #cacaca;
      content: "";
      font-family: FontAwesome;
      margin: 0 0.45rem;
      opacity: 1;
      position: relative;
      top: 1px;
    }
  }
  > * a {
    color: #8c92a3;
  }

}