@import "../base/clean-variables";
@import "../mixins/other-mixin";

.grid-box {
  margin-bottom: rem-calc(15);
  border: 1px solid rgba(#979797, 0.3);
  @include css3(border-radius, 0);
  background-color: #FDFDFF;

  .search-holder {
    position: relative;

    &:before {
      content: '\F002';
      font-family: FontAwesome;
      color: rgba($brand-gray, 0.6);
      font-size: 16px;
      position: absolute;
      left: 8px;
      top: 7px;
    }

    .input-search {
      height: 40px;
      margin: 0;
      padding-left: 30px;
    }
  }

  .box-heading {
    padding: 0.5rem 0.6rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    @include css3(border-radius, 0);
    background-color: $box-heading-bg;

    h2 {
      margin: 0;
      // color: rgba(57, 67, 76, 1);
      color: $brand-orange;
      font-size: 1.25rem;
      font-weight: 500;
      text-transform: capitalize;
    }
  }

  .box-content {
    .note {
      display: block;
      font-weight: 600;
      padding: 0.7rem 1rem 1rem;
    }

    canvas {
      max-width: 100%;
      height: 300px !important;
    }

    &-holder {
      padding: 0.9rem;

      p {
        margin-bottom: 0;
        &:first-child {
          margin-bottom: 0.7em;
        }
      }
    }

    &.coming-soon {
      position: relative;
      min-height: 350px;
      .tabs-content {
        border: none;
      }
      .pie-chart-title {
        font-weight: 600;
      }
    }
  }

  p:empty {
    display: none;
  }

  .input-static {
    @media screen and (max-width: $medium) {
      text-align: center;
      margin-bottom: 0;
    }
  }
}

.text-orange {
  color: $brand-orange;
}
.tag-header {
  > h1 {
    position: relative;
    font-size: 1.2rem;
    margin: 0;
    display: inline-block;
    padding: 0px 100px 0px 20px;
    background-color: $brand-orange;
    color: $white;
    line-height: 40px;
    font-weight: 500;
  }
}

.input-group-wrapper {
  // position: absolute;
  // top: 6px;
  // right: 6px;
  float: right;
  width: 160px;
  border: 1px solid $brand-orange;

  .input-group {
    margin-bottom: 0;

    .input-group-label {
      width: 30px;
      padding: 0;
      border: 0 none;
      background-color: $brand-orange;
      font-size: 10px;

      span {
        background-color: $white;
        color: $brand-orange;
        border-radius: 2px;
        padding: 1px 3px;
        margin-left: 7px;
      }
    }

    .input-group-button {
      input[type="button"] {
        width: 128px;
        height: 26px;
        padding: 0;
        background-color: $white;
        color: $brand-orange;
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
}

.addlist {
  border: 1px rgba($gainsboro, 0.3) solid;
  padding: 1rem 2rem 1rem 0;
  margin-bottom: 0.8rem;

  position: relative;

  .btn-control {
    position: absolute;
    right: -11px;
    top: 8px;
    width: 26px;
    .button {
      padding: .33333rem .5rem;
      margin-bottom: 0.6rem;
      line-height: 0.8rem;
      &.delete {
        background: $brand-red;
      }
    }
  }
}

.row-active {
  background: #FAF0EB !important;
}

.icon-toggle {
  .fa {
    @include css3(border-radius, 50%);
    background: $brand-blue;
    color: $white;
    padding: 0.2rem;
    font-size: 0.8rem;
    line-height: 0.9rem;
    width: 16px;
    text-align: center;
    height: 17px;
  }
}

.action-buttons {
  .button {
    width: 30px;
    padding: 0.5rem;
    color: $white;
    height: 30px;
    text-align: center;
    &:hover {
      color: $white;
    }
  }
}

.load-wrapper {
  text-align: center;
}

.lined-title {
  border-width: 1px 0;
  border-color: $smoke;
  border-style: solid;
  padding: 0.2rem 0;
  margin-bottom: 0.7rem;
  overflow: hidden;
  h2 {
    font-size: $global-font-size + 0.19rem;
    font-weight: 500;
    margin-bottom: 0;
    float: left;
  }
  .btn-edit {
    float: right;
    margin-top: 0.1rem;
  }
}

dl {
  &.dl-h {
    @media screen and (min-width: $medium) {
      dt {
        float: left;
        width: 150px;
        overflow: hidden;
        clear: left;
        text-align: right;
        text-overflow: ellipsis;
        white-space: nowrap;

      }
      dd {
        margin-left: 170px;
        margin-bottom: 0.3rem;
      }
    }
    &.no-mg {
      dt {
        width: auto;
        margin-right: 0.3rem;

      }
      dd {
        margin-left: 0;
        white-space: pre-wrap;
      }
    }
  }
  &.dl-accordin {
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    dt {
      border-left: 1px solid #eee;
      border-right: 1px solid #eee;
      border-top: 1px solid #eee;
      cursor: pointer;
      transition: all .4s ease;
      padding: 5px 5px 5px 44px;
      position: relative;
      margin-bottom: 0;
      &:hover {
        background-color: #f9f9f9;
      }
      &:before {
        content: "+";
        position: absolute;
        display: inline-block;
        padding: 2px 0 0 0;
        width: 38px;
        height: 100%;
        text-align: center;
        color: #ccc;
        font-size: 18px;
        border-right: 1px solid #eee;
        left: 0;
        top: 0;

      }
    }
    dt.expand {
      background-color: #eee;
      &:before {
        content: "-";
        color: #777;
        border-right: 1px solid #f8f8f8;
      }
    }
    dd {
      padding: 0 25px;
      background: #f8f8f8;
      border-left: 1px solid #eee;
      border-right: 1px solid #eee;
      margin: 0;
      height: auto;
      overflow: hidden;
      position: relative;
      max-height: 0;
      transition: all .4s ease;
    }
    dd.expand {
      max-height: 200px;
      padding: 10px 25px;
    }
  }
}

.no-padding {
  padding: 0 !important;
}

.label {
  &.like-tag {
    font-size: $global-font-size - 0.01rem;
    font-weight: 400;
    padding: 5px;
    color: $brand-blue;
    background: #e0eaf1;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    margin-right: 0.5rem;
    &:last-child {
      margin-left: 0;
    }
  }
}

.mgbtm-0 {
  margin-bottom: 0;
}

.mgbtm-1 {
  margin-bottom: 1rem;
}

.select-review {
  display: inline-block;
  font-weight: 300;
  max-width: 400px;
  width: auto;
  padding: 0;
  height: auto;
  line-height: 1.7rem;
  margin-bottom: 0;
  border: none;
  background: none;
  @include css3(appearance, initial);
  pointer-events: none;
}

