@import "../base/clean-variables";
@import "../plugins/material-color";
@import "../mixins/other-mixin";

.uploaderBox {
  position: relative;
  margin: 10px;
  padding: 50px 20px;
  border: 1px dashed material-color('orange', '600');
  font-size: 16px;
  background-color: #FFFFFF;
  text-align: center;

  &.is-dragover {
    background-color: material-color('orange', 'a100');
  }

  .uploaderBox__input {
    // text-align: center;
  }

  .uploaderBox__icon {
    color: material-color('orange', '600');
    font-size: 80px;
  }

  .uploaderBox__file + label {
    color: material-color('orange', '600');
    font-size: 40px;
  }

  .uploaderBox__file {
    display: none;
  }

  .uploaderBox__uploading {
    font-size: 20px;
    color: material-color('blue', 'a700');
  }

  .uploaderBox__success {
    font-size: 20px;
    color: material-color('green', 'a700');
  }

  .uploaderBox__error {
    font-size: 20px;
    color: material-color('red', 'a700');
  }
}