@import "../base/clean-variables";
@import "../mixins/other-mixin";

.login-form-holder{
  margin-top:120px;
  color:$white;
  > img{
    margin: 0 auto 8px;
    max-width: 45%;
    display: block;
    padding-bottom: 8px;
    border-bottom: 1px rgba($brand-dark,0.6) solid;
  }
}

.login{
  background: lighten($bg-login,30%);
  position: fixed;
  width: 100%;
  height: 100%;
}

.login-box {
  background: $white;
  border: 1px solid #ddd;
  margin: 0 0 35px;
  padding: 20px 0 5px;
}

.title {
  font-size: 35px;
  letter-spacing: 5px;
  /*text-shadow: 0 0 15px rgba($smoke,0.7);*/
  padding: 0;
  text-align: center;
  text-transform: uppercase;

  .version {
    color: rgba($brand-blue,0.4);
    font-size: 16px;
    letter-spacing: 8px;
    text-transform: lowercase;
    display: block;
    vertical-align: bottom;
    padding-bottom: 0.2rem;
    @include css3(text-shadow,none);
  }

  img{
    max-width: 47%;
    display: block;
    margin: 0 auto 1.2rem;
  }
}

.by{
  > span{
    display: inline-block;
    background: material-color('orange', '50');
    padding: 3px 8px;
    margin-bottom: 12px;
    color:$body-font-color;
  }
}

.input-group{
  &.bg-orange{
    .input-group-label{
      background: $brand-orange;
      color:$white;
    }
  }
}