@import "../base/clean-variables";
@import "../mixins/other-mixin";

.table-holder {
  position: relative;
  min-height: 200px;
  table {
    border: none;
    margin-bottom: 0;
    border-collapse: unset;

    tr {
      &:nth-child(2n) {
        background: $snow;
      }
    }

    th {
      background: $white;
      line-height: 1.110rem;
      font-weight: 500;
      border-bottom: 1px rgba(108, 122, 134, 0.08) solid;
      text-align: left;
      padding: 0.7rem 0.56667rem;
    }
    td {
      padding: 0.53333rem 0.56667rem 0.56667rem;

    }
    select {
      font-size: 1rem;
      height: 2.3rem;

    }
  }

  table.large-only {
    display: table;
  }

  table.small-only {
    display: none;
  }

  @media screen and (max-width: 800px) {

    table.large-only {
      display: none;
    }

    table.small-only {
      display: table;
    }
  }

  .multiselect__input {
    @include css3(box-shadow, none);
    @include placeholder {
      color: $jet;
      font-weight: 400
    }
  }
}