@import "../base/clean-variables";
@import "../mixins/other-mixin";
.top-bar-section{
  padding:10px 0 12px 12px;
  position: relative;
  background: linear-gradient(#F7F7F7, rgba($white,0.3));
  @include css3(box-shadow,0 -1px 4px rgba($black,0.8));
  .float-right{
    > div{
      display: inline-block;
    }
  }
  &:after{
    content: '';
    display: block;
    clear:both;
  }
}
.HW-container{
  float: right;
  margin: 1rem 1rem 0;
}
@media screen and (max-width: $medium){
  .top-bar-section{
   padding: 20px 10px;
  }

}
