@import "../base/clean-variables";
#tables {
    .titles {
        padding: 0.7rem 2rem;
        background: $ghost;

        h4 {
            font-size: 18px;
            font-weight: 700;
        }
    }

    .buttonTable {
        font-weight: 700;
        margin-bottom: 20px;
        padding: 0.875rem 2.75rem 0.9375rem;
        font-size: 17px;
        border-radius: 0.5rem;
        margin: 2rem 1rem;
    }

    select {
        border: 0;
        outline: 0;
        background-color: inherit;
      width: 80%;
    }
    .up{
          margin-top: -2.8rem;
    }

    table {
       margin: 0 1rem 0rem 0rem;
           background: #FDFDFF;

        thead {
          background: rgba(255, 105, 10, 0.02);
border-bottom: 1px solid rgba(0, 0, 0, 0.06);
padding: 0.5rem 0.6rem;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;

            th {
                padding: 0;

            }
        }

        tbody {
            .filter {
                background-color: #F0EEDD;

                td {
                    padding: 0 8px;

                    div {
                        overflow: hidden;
                    }
                }
            }

            tr:hover {
                background-color: #F0EEDD;
                cursor: pointer;
            }

            tr {
                .detail {
                    padding-bottom: 3em;
                    background-color: #f0eedd;
                }

                td {
                    padding-bottom: 1em;
                    background-color: #F0EEDD;

                    }
                }
            }
        }


    .active {
        background-color: #F0EEDD;
    }
    .act {
        background-color: #F0EEDD;
    }


}
