{
  "presets": [
    [
      "@babel/preset-env",
      {
        // "debug": true,
        // "useBuiltIns": "usage",
        "modules": false
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import"
  ]
}
