.DS_Store
node_modules/
dist/
npm-debug.log
test/unit/coverage
test/e2e/reports
selenium-debug.log
.idea/*
.vscode
$CIRCLE_ARTIFACTS
log/
tests/gauge/logs
tests/gauge/reports

# ignore backup files
*.bak
*.org
