.builder {
	table tr td, table tr th {
		&:first-child {
			padding-left: 22px;
			@media #{$small-only} { 
				padding-left: 50%
			}
		}
	}
	td {
		padding: 13px 10px;
		vertical-align: top;
		&.actions {
			padding: 3px 10px;
			text-align: right;
		}
		@media #{$small-only} {
			padding: 3px 10px 3px 50%;
		}
	}
	> .row {
		margin: 0px;
	}
  > .row.action-row {
    margin-top: 20px;
  }
	td {
		&[data-title="Description"] {
			white-space: normal;
			width: 30%;
			@media #{$small-only} {
				width: 100%
			}
		}
		&[data-title="Last Processed"] {
			width: 16%;
			@media #{$medium-only} {
				width: 30%;
			}
			@media #{$small-only} {
				width: 100%
			}
		}
	}
	h1 {
		font-weight: 400;
		strong {
			font-weight: 600;
		}
	}
	h5 {
		font-size: 18px;
		font-weight: 700;
		margin: 30px 0 15px;
		&:first-child {
			margin-top: 15px;
		}
	}
	label {
		font-weight: 700;
	}
	textarea {
		height: 200px
	}
	strong {
		font-weight: 700;
	}

	.inline {
		line-height: 3.25;
		@media #{$medium-only} {
			width: auto;
			line-height: 2.5;
			float: left;
		}
		@media #{$small-only} {
			width: auto;
			line-height: 2.5;
			float: left;
		}
	}
	.datepick {
		input {
			background-image: url(../assets/images/calendar.png);
			background-position: top 8px right 8px;
			background-repeat: no-repeat;
			padding-right: 32px;
		}
	}
	label.builder-section-title {
		font-size: 18px;
		font-weight: 700;
		padding-left: 20px;
		position: relative;
		input {
			position: absolute;
				top: 8px;
				left: 0;
				margin: 0;
		}
	}
	.gray-bg {
		h3 {
			margin-bottom: 0px;
		}
		.builder-container {
			background: $rowAltBackground;
		}
	}
	[class*="column"] + [class*="column"]:last-child {
		float: left;
	}
	.add-row {
		font-size: 12px;
		text-transform: uppercase;
	}
	.button .fa {
		padding-right: 0px;
		font-size: 16px;
	}
	.close {
		background: transparent;
		border: none;
		border-left: solid 1px #e5e5e5;
		color: #000;
		@media #{$medium-only} {
			border: 0px;
			float:right
		}
		@media #{$small-only} {
			border: 0px;
			float:right
		}
	}
	.report-component {
		> .row {
			@media #{$medium-only} {
				border-bottom: solid 1px #e5e5e5;
				margin-bottom: 10px;
			}
			@media #{$small-only} {
				border-bottom: solid 1px #e5e5e5;
				margin-bottom: 10px;
			}
			&:last-child {
				border:0px;
			}
		}


	}
	.inline-inputs {
		.columns {
			padding: 0px 5px;
		}
	}
}
h3 {
	input[type="checkbox"] {
		margin-bottom: 0px !important;
	}
	label {
    display: inline;
		color: #ffffff;
		font-size: 16px;
	}
}
.builder-container {
	padding: 5px 40px;
	@media #{$small-only} {
		padding: 20px;
	}
	@media #{$medium-only} {
		padding: 20px;
	}
	.builder-container {
		padding: 0px 40px 5px;
		@media #{$small-only} {
			padding: 0px 0px 5px;
		}
		@media #{$medium-only} {
			padding: 0px 0px 5px;
		}
	}
	.columns {
		float: left !important;
	}
	label.builder-section-title {
		margin-bottom: 15px;
	}

}

.truncate {
	position: relative;
	width: 100%;
	height: 16px;
	transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	&.history {
		overflow: hidden;
		width: 125px;
		.content {
		    padding-right: 80px;
			text-overflow: initial;
			width: 100%;
			&:after {
				color: #a0a0a0;
				content: "History";
				font-size: 12px;
				text-decoration: underline;
			}
		}
		@media #{$small-only} {
			width: 100%;
		}
	}
	.content {
		position: absolute;
	    max-width: 100%;
	    white-space: nowrap;
	    overflow: hidden;
	    padding-right: 40px;
	    text-overflow: ellipsis;
		&:after {
			color: $primaryColor1;
			content: "More";
			cursor: pointer;
			position: absolute;
				top: 0;
				right: 0px;
		}
	}
	&.open {
		height: auto !important;
		overflow: visible;
		white-space: normal;
		.content {
			height: auto;
			overflow: visible;
			position: static;
			white-space: normal;
			&:after {
				content: "Less";
			}
		}
	}
	
}
.chosen-container {
	.chosen-choices {
		background: #fafafa !important;
		border-radius: 4px !important;
		border-color: #e5e5e5 !important;
		box-shadow: none !important;
		margin: 5px 0 15px !important;
		padding: 5px !important;
		transition: all 0.15s ease-in-out;
		-o-transition: all 0.15s ease-in-out;
		-ms-transition: all 0.15s ease-in-out;
		-moz-transition: all 0.15s ease-in-out;
		-webkit-transition: all 0.15s ease-in-out;
		&:hover {
			border-color: #22e4e4 !important;
		}
	}
	&.chosen-container-active {
		.chosen-choices {
			transition: all 0.15s ease-in-out;
			-o-transition: all 0.15s ease-in-out;
			-ms-transition: all 0.15s ease-in-out;
			-moz-transition: all 0.15s ease-in-out;
			-webkit-transition: all 0.15s ease-in-out;
			border-color: $primaryColor1 !important;
		}
	}
}

.chosen-container-multi .chosen-choices li.search-field input[type=text] {
	height: auto;
}

.chosen-drop {
	background-color: #fafafa !important;
	border-color: $primaryColor1 !important;
	box-shadow: none !important;
	top: 40px !important;
	.chosen-results {
		li.highlighted {
			background-image: none !important;
			background-color: $primaryColor1;
		}
	}
}

.chosen-container-multi .chosen-choices li.search-choice {
	border-radius: 0px !important;
	border: 0px;
	background-image: none !important;
	background-color: #434a4f !important;
	color: #fFffff !important;
	font-size: 13px;
	margin: 0px 5px 0px 0px ;
	padding: 7px 27px 7px 7px;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
	top: 8px;
	right: 7px;
}
.pika-single.is-bound {
	box-shadow: none;
	border-color: #e5e5e5;
	button:hover, button:focus, .button:hover, .button:focus {
		background-color: $primaryColor1 !important;
	}
}

.action-row {
	border-top: 1px solid #e5e5e5;
  padding-top: 20px;
  margin-top: 40px;
}
