li.title-area {
	border-top: 2px solid transparent;
	float: left;
	margin: 0 !important;
	position: relative;
	list-style: none;
	text-transform: uppercase;
	width: 250px;
	z-index: 1001;
	h1 a {
		color: $primary-color;
	}
}
.menu-container {
	background: rgba(255, 255, 255, 0);
	transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-webkit-transition: all 0.15s ease-in-out;
	z-index: 999999;
	&.expand {
		background: rgba(255, 255, 255, .5);
	}
}
.menu,
.menu * {
	background: none;
	border: 0;
	box-sizing: border-box;
	margin: 0;
	outline: none;
	padding: 0;
}

.menu {
	background: #ffffff;
	border-bottom: 1px solid #ededed;
	font-size: 0;
	line-height: 0;
	// perspective: 2000px;
	// -o-perspective: 2000px;
	// -moz-perspective: 2000px;
	// -webkit-perspective: 2000px;
	text-align: right;
	width: 100%;
	z-index: 999999;
	&:after {
		clear: both;
		content: '';
		display: table;
	}
	li {
		border-style: solid;
		border-color: transparent;
		border-top-width: 2px;
		display: inline-block;
		float: left;
		font-size: 13px;
		line-height: 64px;
		margin-right: 15px;
		position: relative;
		text-align: left;transition: all 0.15s ease-in-out;
		-o-transition: all 0.15s ease-in-out;
		-ms-transition: all 0.15s ease-in-out;
		-moz-transition: all 0.15s ease-in-out;
		-webkit-transition: all 0.15s ease-in-out;
		// -o-transform-origin-x: 100%;
		// -ms-transform-origin-x: 100%;
		// -moz-transform-origin-x: 100%;
		// -webkit-transform-origin-x: 100%;
		white-space: nowrap;

		&:hover > div, &.hoverIn > div {
			display: block;
			left: 0;
			right: initial;
			opacity: 1;
      		visibility: visible;
			// -webkit-transform: translate(0, 0);
			// transform: rotateX(0deg);
			// -o-transform: rotateX(0deg);
			// -moz-transform: rotateX(0deg);
			// -webkit-transform: rotateX(0deg);
		}

		&:hover, &.active {
			border-color: $theme-navbar-active-border-color;
			> a {
				//text-shadow: 1px 0px 0px rgba(0, 0, 0, .7);
			}
			&.search, &.user {
				text-shadow: none;
			}
		}
		&.switch > a {
			text-shadow: none;
		}
		&.title-area a {
			padding: 10px 20px;
			text-shadow: none;
		}
		&.search, &.user {
			border: none !important;
			float: right;
		}
		&.search {
			input[type="text"] {
				background-color: #fafafa;
				background-image: url(../assets/images/search.png);
				background-position: top 9px right 9px;
				background-repeat: no-repeat;
				border-color: #e5e5e5;
				border-radius: 4px;
				box-shadow: none;
				font-size: 13px;
				font-weight: 100;
				margin-top: 15px;
				padding: 5px 35px 5px 10px;
				width: 160px;
				transition: border-color 0.15s ease-in-out;
				-o-transition: border-color 0.15s ease-in-out;
				-ms-transition: border-color 0.15s ease-in-out;
				-moz-transition: border-color 0.15s ease-in-out;
				-webkit-transition: border-color 0.15s ease-in-out;
				&:focus {
					border-color: $primary-color;
				}
			}
		}
		&.user {
			float: right;
			> a {
				background-color: #fafafa;
				border: 1px solid #e5e5e5;
				border-radius: 4px; 
				color: $black1;
				font-size: 16px;
				line-height: 35px;
				margin-top: 15px;
				padding: 0px 11px;
				transition: background-color 0.15s ease-in-out;
				-o-transition: background-color 0.15s ease-in-out;
				-ms-transition: background-color 0.15s ease-in-out;
				-moz-transition: background-color 0.15s ease-in-out;
				-webkit-transition: background-color 0.15s ease-in-out;
				&:hover {
					background-color: #efefef;
				}
			}
			select {
				background-color: #fafafa;
				border: 1px solid #e5e5e5;
				border-radius: 4px;
				box-shadow: none;
				padding: 5px 10px;
				transition: border-color 0.15s ease-in-out;
				-o-transition: border-color 0.15s ease-in-out;
				-ms-transition: border-color 0.15s ease-in-out;
				-moz-transition: border-color 0.15s ease-in-out;
				-webkit-transition: border-color 0.15s ease-in-out;
				width: 100%;
				&:focus {
					border-color: $primary-color;
				}
			}
		}
		a {
			color: $black1;
			display: block;
			padding: 0;
			text-decoration: none;
			transition: background 0.4s, color 0.4s ease-in-out;
			-o-transition: background 0.4s, color 0.4s ease-in-out;
			-ms-transition: background 0.4s, color 0.4s ease-in-out;
			-moz-transition: background 0.4s, color 0.4s ease-in-out;
			-webkit-transition: background 0.4s, color 0.4s ease-in-out;
		}

		> div {
			background: #ffffff;
			//box-shadow: 0 5px 8px rgba(0,0,0,.2);
			border: 1px solid #e5e5e5;
			margin-top: 8px;
			opacity: 0;
			position: absolute;
				top: 100%;
				left: -99999px;
			// -o-transform-origin: 0% 0%;
			// -ms-transform-origin: 0% 0%;
			// -moz-transform-origin: 0% 0%;
			// -webkit-transform-origin: 0% 0%;
			transition: transform 0.4s, opacity 0.4s ease-in-out;
			-o-transition: -o-transform 0.4s, opacity 0.4s ease-in-out;
			-ms-transition: -ms-transform 0.4s, opacity 0.4s ease-in-out;
			-moz-transition: -moz-transform 0.4s, opacity 0.4s ease-in-out;
			-webkit-transition: -webkit-transform 0.4s, opacity 0.4s ease-in-out;
			// transform-style: preserve-3d;
			// -o-transform: preserve-3d;
			// -moz-transform-style: preserve-3d;
			// -webkit-transform-style: preserve-3d;
			// transform: rotateX(-89deg);
			// -o-transform: rotateX(-89deg);
			// -moz-transform: rotateX(-89deg);
			// -webkit-transform: rotateX(-89deg);
			z-index: 999999;
			&:after {
				background: transparent;
				content: '';
				height: 0px;
				position: absolute;
					bottom: 100%;
					left: 0;
				width: 100%;
			}
			&:before {
				content: '';
				border-right: 6px solid transparent;
				border-bottom: 6px solid $black1;
				border-left: 6px solid transparent;
				position: absolute;
					bottom: 100%;
					left: 15px;
			}
		}
		
		li {
			border-width: 0;
			border-top-width: 0px;
			display: block;
			float: none;
			line-height: 21px;
			white-space: normal;
			&:first-child {
				border-top: 0;
			}
			&:hover > div {
				left: 100%;
			}
			&.title, &.title a {
				color: #000;
				font-size: 16px;
				font-weight: 600;
				text-decoration: none;
			}
			a {
				color: $primary-color;
				padding-top: 2px;
				padding-bottom: 2px;
				text-decoration: underline;
				text-shadow: none !important;
				&:hover {
					text-decoration: none;
				}
			}
			> div {
				top: 0;
				margin: 0 0 0 8px;
				&:after {
					top: 0;
					right: 100%;
					bottom: auto;
					left: auto;
					height: 100%;
					width: 5px;
				}
				&:before {
					top: 22px;
					right: 100%;
					bottom: auto;
					left: auto;
					border-top: 5px solid transparent;
					border-right: 5px solid rgba(255,255,255,0.9);
					border-bottom: 5px solid transparent;
				}
			}
		}
		&.user {
			> div {
				margin-top: 10px;
				width: 220px;
				.columns {
					width: 100%;
				}
				&:before {
					right: 15px;
					left: auto;
				}
				h5 {
					font-weight: 600;
					line-height: normal;
					margin-bottom: 0px
				}
				.links {
					line-height: 30px;
					width: 100%;
					a {
						color: $primary-color;
						display: inline;
						padding: 0px;
						text-decoration: underline;
						&:hover {
							text-decoration: none;
						}
					}
				}
			}
		}
		&.content-right, &.user {
			> div {
				right: 0;
				left: -99999px;
				// -o-transform-origin-x: 100%;
				// -ms-transform-origin-x: 100%;
				// -moz-transform-origin-x: 100%;
				// -webkit-transform-origin-x: 100%;
				&:before {
					right: 15px;
					left: auto;
				}

			}
			&:hover, &.hoverIn {
				> div {
					left: auto;
				}
			}
			li {
				> div {
					margin: 0 8px 0 0;
					// -o-transform-origin-x: 100%;
					// -ms-transform-origin-x: 100%;
					// -moz-transform-origin-x: 100%;
					// -webkit-transform-origin-x: 100%;
					&:after {
						right: auto;
						left: 100%;
					}
					&:before {
						border-right: none;
						border-left: 5px solid #ffffff;
						right: auto;
						left: 100%;
					}
				}
				&:hover > div {
					right: 100%;
					left: auto;
				}
			}
		}
	}
	> li {
		> div {
			border-top: 3px solid $black1;
			margin-top: -4px;
			padding: 10px;
		}
	}
	
	.switch {
		display: none;
		float:right;
	}
	.columns {
		float: left;
		&.large-3 {
			width: 33%;
		}
	}
	.row{
		padding: 20px 25px;
		width: 660px;
	}

  .userLinks {
    li {
      .fa {
        padding-right: 10px;
        color: $primary-color;
        width: 20px;
      }
      a {
        display: inline;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
	.menu {
		.row {
			width: 400px;
		}
		li.search {
			input[type="text"] {
				width: 100px
			}
		}
	}

}

@media screen and (min-width: 960px) and (max-width: 1090px) {
	.menu {
		.search {
			display: none;
		}
	}
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

@-webkit-keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
@-moz-keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
@keyframes fadeOut { from { opacity:1; } to { opacity:0; } }

@-webkit-keyframes rotate { from { -webkit-transform: rotate(0deg) } to { -webkit-transform: rotate(180deg) } }
@-moz-keyframes rotate { from { -moz-transform: rotate(0deg) } to { -moz-transform: rotate(180deg) } }
@keyframes rotate { from { transform: rotate(0deg) } to { -webkit-transform: rotate(180deg) } }

// Set this breakpoint to match when the sidebar collapses

@media screen and (max-width: 960px) {
	body {
		-webkit-text-size-adjust: none;
	}
	.menu-container.fixed {
		bottom: 100%;
		display: block;
		height: 64px;
		-webkit-transition: all 0.4s ease-in-out;
		-moz-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;

		&.expand {
			bottom: 0px;
			height: 100%;
			overflow-x: auto;
			-webkit-transition: all 0.4s ease-in-out;
			-moz-transition: all 0.4s ease-in-out;
			-o-transition: all 0.4s ease-in-out;
			transition: all 0.4s ease-in-out;
			
			.switch .fa {
				color: $primary-color;
			}
		}
	}
	.menu {
		background-color: #ffffff;
		&.title-area a {
			padding-left:15px
		}

		 li {
			background-color: #ffffff;
			border: 0;
			display: none;
			float: left;
			max-height: 0em;
			-webkit-transition: max-height 0.4s ease-in-out;
			-moz-transition: max-height 0.4s ease-in-out;
			-o-transition: max-height 0.4s ease-in-out;
			transition: max-height 0.4s ease-in-out;
			width: 100%;
			

			&.title-area, &.switch, &.user {
				max-height: 80em;
				-webkit-animation: none;  
				-moz-animation: none;
				animation: none;
			}
			&.expand, &.search, &.user, &.title-area {
				height: auto
			}

			&.search {
				background-color: #fafafa;
				display: none;
				margin: 0px;
				padding: 0px;
				width: 100% !important;
				input[type="text"] {
					background-position: top 22px right 15px;
					border: 0px;
					border-left: 3px solid transparent;
					border-top: 1px solid #e5e5e5;
					border-radius: 0px;
					font-size: 18px;
					height: 20px;
					margin:0px;
					padding: 30px 35px 30px 15px;
					width: 100%;
					&:focus {
						border-top-color: #e5e5e5 !important;
						border-left-color: $primary-color;
					}
				}
				
			}

			&.switch {
				border: 0px;
				a {
					border: 0px;
				}
			}

			&.title-area a {
				padding: 10px 15px;
			}
			a {
				padding: 0 15px;
				font-weight: 400;
				> .fa {
					margin: 0 15px 0 0;
				}
			}

			> [class^="row"] {
				margin: 0;	
				opacity: 1;
				position: static;
					top: 100%;
					bottom: auto;
				// -o-transform-origin: 0 0;
				// -ms-transform-origin: 0 0;
				// -moz-transform-origin: 0 0;
				// -webkit-transform-origin: 0 0;
				// transform: rotateX(0deg);
				// -o-transform: rotateX(0deg);
				// -moz-transform: rotateX(0deg);
				// -webkit-transform: rotateX(0deg);
				width: auto;	
			}

			.columns > a {
				border: 0;
				border-top: 1px solid #d9d9d9;
				float: none;
				margin: 0;
				padding: 10px 5px;
				width: 100% !important;
				&:first-child {
					border-top: 0;
				}
			}
			> div {
				border: 0px;
				height: auto;
				margin: 8px 0 0 0;
				max-height: 0;	
				overflow: hidden;
				top: 100%;
				-webkit-transition: max-height 0.4s ease-in-out;
				-moz-transition: max-height 0.4s ease-out;
				-o-transition: max-height 0.4s ease-out;
				transition: max-height 0.4s ease-in-out;
				width: auto;
				&:after {
					height: 8px;
					top: auto;
					right: auto;
					bottom: 100%;
					left: 0;
					width: 100%;
				}
				&:before {
					display: none;
				}
				&.expanded {
					max-height: 50em;
				}
			}			
		}

		.row {
			box-shadow: none;
			//display:none;
			padding: 0px 15px;
			width: 100%;
		}

		> li {
      font-size: 18px;
      font-weight: 600;
      border-bottom: 0px;
			border-left: 3px solid transparent;
			padding: 0px;
			position: relative;
			border-top: 1px solid #e5e5e5;
			&:last-child {
				border-bottom: 1px solid #e5e5e5;
			}

			> a {
				font-size: 18px;
				font-weight: 600;
				border-bottom: 0px;
				transition: all 0.4s ease-in-out;
				-o-transition: all 0.4s ease-in-out;
				-ms-transition: all 0.4s ease-in-out;
				-moz-transition: all 0.4s ease-in-out;
				-webkit-transition: all 0.4s ease-in-out;
				
			}
			&.dropdown {
				> a {
					&:before {
						color: $primary-color;
						content: "\f067";
						display: inline-block;
						float: right;
						font-family: FontAwesome;
						font-style: normal;
						font-weight: normal;
						line-height: 1;
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;
						position: absolute;
							top: 25px;
							right: 15px;
						text-shadow: none;

						// -webkit-animation: rotate ease-in .3s;  
						// -moz-animation: rotate ease-in .3s;
						// animation: rotate ease-in .3s;

						// -webkit-animation-fill-mode: both;  
						// -moz-animation-fill-mode: both;
						// animation-fill-mode: both;

						-webkit-animation-duration: .3s;
						-moz-animation-duration: .3s;
						animation-duration: .3s;
					}
					&.expanded{

						&:before {
							content: "\f068";

							// -webkit-animation: rotate ease-in-out .3s;  
							// -moz-animation: rotate ease-in-out .3s;
							// animation: rotate ease-in-out .3s;

							// -webkit-animation-fill-mode: both;  
							// -moz-animation-fill-mode: both;
							// animation-fill-mode: both;

							-webkit-animation-duration: .3s;
							-moz-animation-duration: .3s;
							animation-duration: .3s;
						}
					}
				}
			}
			&.active {
				//background-color: #fafafa;
				border-left-color: $primary-color;
				border-top-color: #e5e5e5;
				a {
					//background-color: #fafafa;
				}
				.row ul {
					float: left;
					width: 100%;
					&:last-child{
						padding-bottom: 10px;
					}
					a {
						padding: 2px 0px;
					}
				}
			}
			&:hover {
				border-left-color: $primary-color;
				border-top-color: #e5e5e5;
			}
		}
		
		> .switch, > .title-area, > .search, > .user {
			display: block;
			width: auto !important;
			z-index: 9999999;
		}
		> .switch {
			float: right;
			.fa-bars {
				margin-right: 0px;
			}
			a {
				padding-right: 0px;
				padding-left: 0px
			}
			.active {

			}
		}
		.user {
			width: 100% !important;
			> div {
				display: none;
				max-height: 60em;
				border: 0;
			}
			&.expand {
				border-top: 1px solid #e5e5e5 !important;
				margin: 0px;
				opacity: 1;
				padding: 0px 20px 15px;
				> div {
					display: block;
					opacity: 1;
					padding: 0px;
					width: 100%;
					div {
						width: 100%;
					}
				}
			}
			a {
				display: none
			}
		}
		
		.expand {
			display: block !important;
			float: left;
			height: 100%;
			max-height: 80em;
			opacity:1;  

			-webkit-animation:fadeIn ease-in .3s;  
			-moz-animation:fadeIn ease-in .3s;
			animation:fadeIn ease-in .3s;

			// -webkit-animation-fill-mode:forwards;  
			// -moz-animation-fill-mode:forwards;
			// animation-fill-mode:forwards;

			// -webkit-animation-duration: .3s;
			// -moz-animation-duration: .3s;
			// animation-duration: .3s;

			> li {
				border-top: 1px solid #d9d9d9;
				display: block !important;
				float: left;
			}
			> .switch {
				border: 0px;
			}
		}



		.columns {
			&.large-3 {
				width: 33%;
				float: left;
				margin-bottom: 10px;
				ul {
					li {						
						a {
							padding-left: 0px;
							padding-right: 0px;
						}
					}
				}
			}
		}
		.row{
			width: 100%;
		}
	}

	.title-area { 
		position: absolute;
		top: 0;
		left: 0;
	}
}

@media #{$small-only} {
	.menu .columns {
		&.large-3 {
			width: 100%;
		}
	}
}
