.fixed {
  // ensure navbar is above other elements
  z-index: 10000;
}

nav.top-bar {
  border-bottom: 1px solid #eee;
  overflow: hidden;

  .title-area {
    width: 250px;

    color: $primary-color;
    text-transform: uppercase;

    & > li {
      border-top: 3px solid $navbar-default-bg;
      &:hover, &.active {
        border-top: 3px solid $theme-navbar-active-border-color;
      }
    }

    .name {
      h1 {
        a {
          color: $primary-color;
        }
      }
    }
  }

  .top-bar-section {
    & > ul.left {
      & > li {
        border-top: 3px solid $navbar-default-bg;
        &:hover, &.active {
          border-top: 3px solid $theme-navbar-active-border-color;
        }
      }
    }

    li:not(.has-form) a:not(.button) {
      padding: rem-calc(8) rem-calc(8);
      @media #{$large-up} {
        padding: 0 rem-calc(8);
      }

      
    }

    li {
      input {
        margin-top: 6px;
        border: 1px solid #eee;
      }
    }

  }
}
