
.sidebar-nav {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;

  label {
    color: #3c3c3c;
  }

  .text-input-container {
    display: table;

    label {
      display: table-cell;
      width: 1px;
      padding: 0 6px 0 0;
      margin: 0;
      text-align: left;
      font-weight: 600;
      vertical-align: bottom;
    }
    input {
      display: table-cell; 
      width: 100%;
      border: 0;
      background: none;
      height: 20px;
      margin: 0;
      padding: 0 6px 0 6px;

      outline: 0;
      box-shadow: none;

      vertical-align: bottom;

      &:focus, &:active {
        outline: 0;
      }
    }
  }

  .select-container {
    cursor: pointer;

    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;

    & > .fa {
      float: right;
      margin-right: 20px;

      color: #c6c6c6;
      margin-top: 4px;

      -webkit-transition: all 0.25s ease;
      -moz-transition: all 0.25s ease;
      -o-transition: all 0.25s ease;
      transition: all 0.25s ease;
    }

    & > .value {
      color: #999;
      font-weight: normal;
    }

    &:hover {
      .fa {
        color: #3f3f3f;
      }
    }

    & > .options {
      max-height: 0;
      opacity: 0;
      overflow: hidden;

      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out;

      font-size: 14px;
      
      &.active {
        display: block;
        height: auto;
        max-height: 400px;
        opacity: 1;
      }

      ul {
        list-style-type: none;
        margin: 10px 20px;
        padding: 0;

        li {
          padding: 0;
          &:hover {
            .fa:before {
              content: "\f00c";
              color: #b0b0b0;
            }
          }
          .fa {
            content: "\f00c";
            margin-left: -20px;
            &.fa-check {
              color: $primaryColor1;
              &:before {
                color: $primaryColor1;
              }
            }
            
          }
          
        }
      }
    }

    &.active {
      & > .fa {
        color: #3f3f3f;

        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
      }
    }
  }
}

.powered-by {
  background-color: #d9d9d9;
  background-color: rgba(0,0,0,0.1);
  // ie8 opacity
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
  padding: 15px;
  position: fixed;
  bottom: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 250px;
  @media screen and (max-width: 960px) {
      // ie8 opacity
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      opacity: 0;
  }
  #wrapper.toggled & {
    // ie8 opacity
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0
  }
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
}

#wrapper.toggled {
  padding-left: 0;
}

.sidebar-wrapper {
  z-index: 1000;
  position: fixed;
    top: 69px;
    bottom: 0;
  left: $sidebar-width;
  width: 0;
  height: 100%;
  margin-left: -$sidebar-width;
  overflow-y: auto;
  overflow-x: hidden;
  background: $sidebar-background;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;

  -webkit-box-shadow: inset -5px 0px 4px 0px rgba(50, 50, 50, 0.25);
  -moz-box-shadow:    inset -5px 0px 4px 0px rgba(50, 50, 50, 0.25);
  box-shadow:         inset -5px 0px 4px 0px rgba(50, 50, 50, 0.25);
}

#wrapper.toggled .sidebar-wrapper {
  width: 0;
}

#page-content-wrapper {
  position:relative;
  background-color: #ffffff;
  width: 100%;
  padding: 0 15px;
  padding-bottom: 20px;
  z-index: 1000;


}

@media #{$medium-only} {
  #page-content-wrapper,
  .column, .columns {
    //padding: 0 7px !important;
  }

}
@media #{$small-only} {
  #page-content-wrapper,
  .column, .columns {
    //padding: 0 7px !important;
  }

}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -$sidebar-width;
}

/* Sidebar Styles */

.sidebar-nav {
  //height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
    top: 0;
    bottom: 25px;
  width: 250px;
  margin: 0;
  padding: 0;

  // ensure toggle button and logo are always visible
  margin-bottom: 99px;

  list-style: none;
  .select-container > .options ul li .fa {
    width: 20px;
  }
}

.sidebar-nav > li {
  line-height: normal;
  padding: 10px 0;
  padding-left: 20px;
  width: 250px;
  border-top: 1px solid $sidebar-item-active;

  &:first-child {
    border-top: 0;
    background-color: $sidebar-item-active;
  }
  &.active {
    background-color: $sidebar-item-active;
    border-top-color: transparent;
  }

  & > span {
    font-weight: 600;
  }

  &.controls {
    padding: 0;

    button {
      width: auto;
      background-color: $primaryColor1;
      border: 0;
      color: $buttonTextColor;
      width: 40%;
      box-sizing: border-box;

      padding: rem-calc(15) 0;

      &:active, &:focus {
        outline: 0;
      }

      &:first-child {
        width: 59%;
        margin-right: 1px;
      }
    }
  }
}
.sidebar-nav > li .glyphicon {
  text-indent: 0;
}


.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: $sidebar-primary-color;
  &.sidebarVisibilityControl {
    &:hover {
    }
    .fa-arrow-left {
      margin-left: -1px;
    }
  }
}

.sidebar-nav li a:hover {
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media #{$large-up} {
  #wrapper {
    padding-left: 250px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  .sidebar-wrapper {
    width: 250px;
  }

  #wrapper.toggled .sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    padding: 0 5px;
    padding-bottom: 20px;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

@media screen and (max-width: 961px) {
  .sidebar-wrapper {
    top: 64px;
  }
}
