
#devices{
  height:100%;
background:$white-smoke;
.header{
padding: 1.8rem;
background:$white;

}
.titles{
    padding: 0.7rem 2rem;
  background:$ghost;
h4{
  font-size: 18px;
  font-weight: 700;

}

}
.button {
    font-weight: 700;
    margin-bottom: 20px;
    padding: 0.875rem 2.75rem 0.9375rem;
    font-size: 17px;
    border-radius: 0.5rem;
    margin: 2rem 1rem;

}
select{
border:0px ;
outline:0px;
background-color: inherit;

}
table{
  margin:0rem 1rem;
thead{
  background-color: #F4A536;
  th{
    padding: 0px;
  }
}
tbody{

.filter{
background-color: #F0EEDD;
td{
  padding:0px 8px;

  div{

      overflow:hidden;

  }
}

}
tr:hover{
  background-color: #F0EEDD;
  cursor: pointer;

      }
tr{
  .detail{
    padding-bottom: 3em;
  }
  td{


      padding-bottom: 1em;

    .details{

      display: -webkit-flex;
      display: flex;

      .child {
        text-align: left;
        -webkit-flex-grow: 0;
            -webkit-flex-shrink: 0;
            -webkit-flex-basis: 11.7%;
            flex-grow: 0;
              flex-basis: 11.7%;
}
.child:nth-of-type(1) {
    -webkit-flex-basis: 7%;
    flex-basis: 7%;

}
.child:nth-of-type(2) {
    -webkit-flex-basis: 36.2%;
    flex-basis: 36.2%;
    ul{
    list-style-type: none;
    }
}
.prices{
  ul{
  list-style-type: none;
  }

}


.os{
.image{
  height: 160px;
img{
height:130px;
}

}
.information{
  position: absolute;
  width: 37%;
  margin-top:-1em;


}


}



}






  }

}
    }
      }
.active{
  background-color: #F0EEDD;

}

.item-transition {
  transition: opacity .5s ease;
  background-color: #F0EEDD;
}
.item-enter {
  opacity: 0;

}
.item-leave {
  opacity: 0;
  position: absolute; /* important for removal move to work */
}

}

#device{
  .header{
  padding: 1.8rem;
  background:$white;

  }
  .titles{

    background:$ghost;
  h4{
    font-size: 18px;
    font-weight: 700;
      padding:0rem  3.2rem;

  }

  }

  a:hover{
    color:$black;
  }
.devicename{
  label{
    padding: 0rem 3.2rem;
  }
}
.acordeon{
list-style-type: none;
.accordion-title {
position: inherit;

}
.prices{
  .filterprices{
    width: 30%;
  position: absolute;
  margin:-3.8rem;
  right: 8%;

  select{
      display: inline-block;
      width:initial;
      border:0px ;
      outline:0px;
      background-color: inherit;
  }

  }
}

.acordeon-item{
  margin:2rem;
  background-color:$iron ;
  a{
    font-weight: 600;
  }
.overview{

  .phoneImg{
      height: 150px;

      }
.button {
    font-weight: 700;
    border-radius: 0.5rem;
}

}
.modifications{
.button{
  font-size: 13px;
  margin: 1.8rem -1rem;
  border-radius: 0.5rem;
}
.checkbox{
  margin-left: 2.5rem;
}

}

.carriers{
input[type=checkbox]{  display:none; }
.imagescheck{
  label{
    display: inline-block;
  }

}

}
.companies{
.button{
  margin: 2rem 2rem;
  padding: 1rem 3rem;
  font-weight: 800;
  font-size: 14px;
  border-radius: 0.5rem;
}
ul{
  list-style-type: none;
  line-height: 2.58rem;
  li{

  }
}

}


}


}


}
