footer{
  #footer{
  .copyright{
    a{
      color:$body-font-color;
      text-decoration: underline;

    }
  }
  background: $brand-dark;

  color: $white;

  padding: 1.13846rem;

  text-align: right;
  width: 100%;
}

}
