@import "../base/clean-variables";
@import "../plugins/material-color";
@import "../mixins/other-mixin";

.page.company-page.company-index-page {

  table.unstriped {
    tbody {
      td {
        span.badge {
          cursor: pointer;
        }

        .switch {
          margin-bottom: 0;
        }

        .label {
          cursor: pointer;

          &.remove {
            background-color: material-color('red', '600');
          }

          &.edit {
            background-color: material-color('orange', '600'); 
          }
        }
      }

      tr:nth-of-type(4n+3) {
        background-color: #f9f9f9;
      }

      tr.detail-tr {
        display: none;

        &.active {
          display: table-row;
          // background-color: rgba(251, 243, 238, 0.6);
        }

        .detail-box {
          display: flex;
          padding: 10px 20px 10px 20px;

          > .image {
            padding-right: 20px;

            img {
              width: 200px;
              max-width: auto;
            }
          }

          > .content {
            @include flex(1);

            .pair {
              font-size: 16px;
              line-height: 30px;

              > .key {
                font-weight: 400;
              }
            }

            .address-wrapper {
              display: flex;
              justify-content: space-between;
            }

            .udl-wrapper {
              .pair {
                display: flex;

                > .key {
                  white-space: nowrap;
                }

                > .value {
                  @inlcude flex(1);
                  max-height: 60px;
                  overflow: hidden;
                  display: -webkit-box;
                  -webkit-line-clamp: 2;
                  -webkit-box-orient: vertical;
                }
              }
            }

            .button.view-button {
              float: right;
            }
          }
        }
      }
    }
  }
}

.page.company-page.company-edit-page {
  ul.tag-editor {
    border: 1px solid #CCCCCC;

    li {
      margin: 8px 0;

      input {
        height: 20px;
        padding: 0;
        border: 0px none;
        box-shadow: none;
      }
    }
  }

  .company-image-wrapper {
    position: relative;
    width: 100%;
    padding-top: 30%;

    .company-image {
      position: absolute;
      width: 100%;
      height: 100%;
      margin-top: -30%;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      // background: url('/assets/clean-platform.png') center/contain no-repeat;
      // background-color: material-color('blue', '300');
    }

    // @media screen and (max-width: 640px) {
    //   .company-image {
    //     position: relative;
    //     width: 100%;
    //     height: 30%
    //   }
    // }
  }

  .grid-box.setting {
    .box-content {
      padding: 10px 0 0 0;
    }
  }
}
