@import "../base/clean-variables";
@import "../mixins/other-mixin";

.filter{
  padding: rem-calc(10) rem-calc(15) rem-calc(35) ;
  .username{
    font-size: 28px;
    font-weight: 400;
    margin: 0;
  }
  .user-filter{
    max-width: 140px;
  }
  .bill-filter{
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 300;
    margin-bottom: rem-calc(20);
  }
  &:after{
    @extend %content-after;
  }

}
.bg-login{
  background: $brand-blue;
}
.title{
  img{
    margin-bottom: 1.2rem;
  }
}
.login-box{
  @include css3(box-shadow,0 0 4px $dark-gray);
  margin-bottom:10px;

}

.wireless-overview{
  &.table-holder {
    min-height: inherit;
  }

  .user-actions{
    max-width: 180px;
    margin-bottom: 0;
    border:none;
    background: transparent;
    &:focus {
      @include css3(box-shadow, none);
    }
  }

  .btn-next{
    padding: 0.5rem 1rem 0.38rem;
    vertical-align: top;
    margin-bottom: 0;
    line-height: 1.2rem;
  }

  .monthly-charge {
    display: inline-block;
    color: $white;
    font-weight: 400;
    padding: 0 0.3rem;
    font-size: 0.8rem;
    background: lighten($brand-orange, 10%);
  }
}

.is-loading {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin-top: 0;
  padding: 20px;
  background-origin: padding-box;
  background: #ebeef4 url('~assets/loading.svg') center center no-repeat;
  background-size: 60px 60px;
  text-align: center;
}

.welcome-box{
  @extend .alert-box;
  background: transparent;
  border-width: 0;
  color:$brand-dark;
  margin-bottom: 0;

  h2{
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0 0 0.7rem;
  }
  .close{
    top:18%;
  }
}

.action-button{
  position: relative;
  padding: 0 0 1rem 0;
  margin-left: -10px;

  .button{
    font-weight: 600;
    font-size: 1rem;
    margin: 0 0 10px 10px;
    @include css3(transition,all 0.2s ease-in-out);
    @include css3(box-shadow, 0 2px 2px lighten($brand-blue,50%));

    &:hover{
      background-color: $brand-orange;
      @include css3(box-shadow, 0 2px 2px lighten($brand-orange,30%));
    }
  }
}

.content-container {
  .multiselect {
    margin-top: 10px !important;
  }
  .upload-button {
    padding: 10px 20px;
    margin: 10px 0px;
  }
}


.search-container{
  width: 25rem;

  @include css3(transition,all 0.2s ease-in-out);

  .search-form{
    position:relative;

    input[type='text'] {
      background: $ghost ;
      @include css3(border-radius,20px);
      height: 2.3rem !important;
    }

    .btn-search{
      @extend .button;
      color:$brand-dark;
      position: absolute !important;
      background: transparent;
      padding: 0.64rem 1rem 0.7rem !important;
      border: none;
      right: 0;
      top:5px !important;
      &:hover,
      &:focus{
        background: none;
        color:$oil;
      }
    }
  }
  .search-footer{
    padding: 10px 0 ;
    border-top:1px lighten($steel ,30%) solid;
    display:none;
    .button{
      padding: 1rem 2rem 1.0625rem 2rem !important;
      height: auto !important;
    }
  }
  #close{
    background: #ffffff none repeat scroll 0 0;
    border-radius: 50%;
    box-shadow: 0 0 3px;
    height: 16px;
    line-height: 0.7rem;
    position: absolute;
    right: -8px;
    text-align: center;
    top: -16px;
    width: 17px;
    .fa{
      font-size: 13px;
    }
  }
  &.active{
    background: $white;
    border: 1px solid lighten($iron,20%);
    padding: 0 10px 10px;
    position: absolute ;
    @include css3(box-shadow,0 0 5px rgba(0,0,0,0.3));
    z-index: 9;
    /*   width: 100%;*/
  }
  .support-form-holder{

    display: none;
    input, select{
      font-size: 0.875rem !important;
      height: auto;
      padding:0.5rem !important;
      top:0 !important;
      margin: 0 0 1rem 0 !important;
    }
    .static-form-text{
      margin-bottom: 1rem;
      display: block;
    }
  }
  .search-results{
    display: none;
    max-height: 150px;
    overflow: auto;
    li{
      background: none !important;
      float: none !important;
      &:hover{
        background: none !important;
        a{
          background: none !important;
        }
      }
      a{
        color:$brand-orange !important;
        &:hover{
          background: none;
          color: $brand-orange;
        }
      }
    }
  }
  .article-holder{
    max-height: 250px;
    overflow: auto;
    ul{
      li{
        background: none !important;
        float: none !important;
        &:hover{
          background: none !important;
          a{
            background: none !important;
          }
        }
        a{
          color:$brand-orange !important;
          &:hover{
            background: none;
            color: $brand-orange;
          }
        }
      }
    }
  }
}
.inner-wrap{
  background: $white-smoke;
  height: 100%;
  position: fixed;
  overflow: auto;
  .off-canvas-wrap &{
    background: $white;
    height: auto;
    position: static;
    overflow: inherit;
  }
}
.highcharts-background{
  fill:transparent !important;
}
.login{
  background: $brand-blue;
  //url("../../src/assets/bg-pattern.png") repeat;
  .callout{
    position: fixed;
    top:0;
    width: 100%;
    left: 0;
    h5{
      text-align:center;
    }
    .close-button{
      color:$gainsboro;
      &:hover{
        color:$white;
      }
    }
  }
  input{
    font-size: 1rem;
  }
  .button{
    background: $brand-blue;
    font-weight: 400;
    &:hover{
      background: $brand-orange;
    }
  }
  .profile{
    overflow: hidden;
    top:0;
    padding-bottom: 7px;
    height: auto;
    background: transparent !important;

    &:before{
      content: none;
    }

    img{
      width: 40%;
      @include css3(border-radius,0);
      margin: 0 auto;
      display: block;
      padding: 7px;
      border-bottom: 1px rgba(255,255,255,0.2) solid;
    }

    h3{
      letter-spacing: 4px;
      top: 2px;
      left: 0;
      font-size: 2rem;
      font-weight: 600;
      opacity: 1;
      text-align: center;
      text-shadow: 0 0 17px rgba(255, 255, 255, 0.5);
      margin: 0;
    }
  }
}
.alert-box{
  &.alert{
    margin-bottom: 0;
  }
}
.version{
  color:rgba(253, 253, 253, 0.4);
  line-height: 1.5;
  font-size: 1rem;
  letter-spacing: 5px;
  font-weight: 400;
  display: block;
  text-align: center;

}
.menu-left{
  @media screen and (max-width: 800px) {
    display: none;
  }
  position: fixed;
  width: 200px;
  z-index: 99;
  background: $brand-blue;
  height: 100%;
  left: 0;
  top:72px;

  /*
  .icon-close{
    position: absolute;
    right: -20px;
    font-size: 0.9rem;
    top: 0;
    padding: 1px 5px;
    background: $brand-blue;
    color:$white;
    @include css3(border-radius,0 3px 3px 0);
  }
  */

  &.test{
    width: 50px;

    .sidebar-menu{
      > li {

        span,
        .label,
        .fa-plus,
        .fa-minus{
          display: none;
        }

        &.header{
          display: none;
        }

        .treeview-menu{
          .fa-angle-down{
            display: block;
          }
        }
      }

      li.logo{
        padding: 10px 2px 10px 2px;
      }
    }

    .treeview-menu.menu-open {
      position: absolute;
      left:98%;
      top:0;
      min-width: 170px;
      z-index: 9999;
      > li > a{
        padding-left: 0;
        white-space: nowrap;
      }
      .treeview-menu.menu-open{
        position: static;
      }
    }
    .img-full{
      display: none;
    }
    .img-collapse{
      display: block;
    }
    .text-copyright{
      display: block;
      font-size: 9px;
      font-weight: 700;
      line-height: 10px;
      margin:0 0 5px;
      text-align: center;
      text-transform: uppercase;
    }
  }
}
.content-right{
  padding-left: 200px;
  padding-bottom: 50px;
  padding-top: 72px;
  &.test{
    padding-left:50px ;
  }
  @media screen and (max-width: 800px) {
    padding-left: 0;
    padding-top: 126px;
    &.test{
      padding-left: 0;
    }
    .top-bar-section .logo{
      position: absolute;
      z-index: 101;
      top: -54px;
      left: 0;
      padding: 2px 11px;
      height: 54px;
    }
  }
}

.client-info{
  border-color:rgba(0, 0, 0, 0.10);
  padding: 0 0 0 1rem;
  border:none;
  z-index: -1;
  background: transparent;
  h2{
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0 0 0.2rem;
  }
}

.support-form-holder, .legacy-form-holder {
  z-index: 999;
  position: fixed;
  top: 0;
  right:0;
  width: 100%;
  height: 100%;

  .form-header{
    padding:1rem;
    position: relative;
    border-bottom:1px $smoke solid;
    background: $white;
    top:-1px;
    z-index: 99;
    h2{
      font-size: 1.4rem;
      margin: 0;
      font-weight: 700;
    }
    .btn-close {
      font-size: 18px;
      position: absolute;
      right: 16px;
      top: 1px;
      color:$brand-dark;
      &:hover{
        color:$brand-dark;
      }
    }
  }
}

.support-form-holder{
  display: none;

  &.loading{
    &:after{
      content: '';
      font-size: 3rem;
      font-family: FontAwesome;
      color:#fff;
      position: absolute;
      z-index: 9999;
      text-align: center;
      width: 100%;
      vertical-align: middle;
      left: 0;
      top:40vh;
      -webkit-animation: fa-spin 2s infinite linear;
      animation: fa-spin 2s infinite linear;
    }
    &:before{
      background: rgba($black,0.6);
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 999;
      top:0;
      left: 0;
    }
    @-webkit-keyframes fa-spin {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
      }
    }

    @keyframes fa-spin {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
      }
    }
  }

  max-width: 430px;
  background: $white;
  border: 1px solid $gainsboro;
  @include css3(box-shadow,0 0 20px rgba(0, 0, 0, 0.29));

  .columns{
    position: relative;
    > label{
      display: block;
      label{
        display: inline-block;
      }
    }
    .column{
      label{
        display: inline-block;
        margin-left: 0.60976rem;
        margin-right: 1.21951rem;
        margin-bottom: 0;
        vertical-align: baseline;
      }
    }
  }
  label{
    color:#444;
    font-size: 1rem;
    &.error{
      background: $brand-red;
      color: $white;
      position: absolute;
      bottom: 0px;
      font-size: 0.9em;
      line-height: 1.3rem;
      font-style: italic;
      width: 95%;
      left: 2px;
      padding: 0 0.4rem;
      margin: 0;
      z-index: 9;

      &#description-error {
        margin-left: 9px;
      }
    }
  }
  .form-footer{
    padding:1.15385rem;
    border-top:1px $smoke solid;
    background: $white;
    position: absolute;
    bottom:0;
    width: 100%;
    left: 0;
    .button{
      margin-bottom: 0;
      font-size: 1rem;
      font-weight: 600;
      &:hover{
        background: $brand-orange;
      }
    }
  }
  .form-title{
    font-weight: 700;
  }
  legend{
    color: #444;
    display: block;
    font-size: 1.07692rem;
    font-weight: normal;
    line-height: 1.8;
    margin: 0;

  }
  .has-tip{
    line-height: 1rem;
    &.is-required{
      color:$brand-red;
      border-color:$brand-red;
      font-size: 1.1rem;
      font-weight: 700;
    }
    .fa-question-circle{
      color:$brand-blue;
    }
  }
  .fieldset{
    padding: 0 0.53846rem;
    margin: 0 0 1.23077rem;
    legend{
      background: #F9F9F9;
    }
  }

}
.off-canvas-wrapper{
  overflow: hidden;
}
.support-form-container{
  bottom: 71px;
  height: 100%;
  margin-top: 210px;
  overflow-y: scroll;
  padding-top: 105px;
  background: #F9F9F9;
  position: absolute;
  .mix{
    display: none;
  }
}

.callout {
  &.is-error {
    background: $brand-red;
    color: $white;
  }
  &.is-success {
    background: $brand-green;
    color: $white;
  }
}
#modal{
  &.is-error{
    background: $brand-red;
    padding: 4.5rem 4rem;
    color: $white;
    max-width: 50%;
  }
  &.is-success{
    background: $brand-green;
    color: $white;
  }
  .close-button{
    color:$white;
  }
}
.img-avatar{
  height: 47px;
  width: 47px;
  @include css3(border-radius,50%);
  background: $silver;

}
.profile{
  .greeting{
    font-weight: 600;
  }

  .dropdown-pane{
    max-width:200px ;
    top:72px !important;
    background: $white;
    padding: 0;
    border:none;
    @include css3(box-shadow,0 0 4px $dark-gray);
    &:before{
      content:'';
      position:absolute;
      top:-11px;
      right:0;
      width: 0;
      height: 0;
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      border-bottom: 10px solid rgba($dark-gray,0.2);
    }
    li a{
      padding: 1rem;
      display: block;
    }
  }
}

.btn-round{
  @include css3(border-radius,3px);
}

.spent-info{
  z-index: 99;
  display: none;
  position: absolute;
  right: 0;
  top: 71px;
  width: 100%;
  height: 100%;
  max-width: 728px;
  padding: 0 0 0 0;
  border: none;
  background: rgba(#000,0.3);
  @include css3(box-shadow,0 6px 20px $gainsboro);
  &.visible {
    display: block;
  }
  .pop-overlay {
    height: 100%;
    position: absolute;
    right: 0;
    z-index: 100;
    background: rgba(#000,0.3);
  }
  .pop-content{
    background: $white;
    padding: 15px 10px;
    position: absolute;
    z-index: 101;
    height: 100%;
    width: 100%;
    overflow: auto;
    .pop-heading{
      float: left;
      font-size: 1.8rem;
      font-weight: 500;
    }
  }

  .view-all{
    padding: 0.5rem 1rem ;
    display: none;
    &.show{
      display: block;
    }
    &:before{
      content:'';
      font-family:FontAwesome;
    }
    &:after{
      content:'All';
      display: inline-block;
      position: relative;
      top:1px;
    }
    &.all{
      &:before{
        content:'';

        font-family:FontAwesome;
      }
      &:after{
        content:'Less';
      }
    }
  }
}
.list-striped{
  .row{
    max-width: inherit;
  }
  @extend %listreset;
  overflow: hidden;
  max-height: 119px;
  li{
    border-top:1px rgba(#979797,0.15) solid;
    line-height: 3rem;
    &:nth-child(even){
      background:rgba(#9AAED8,0.05);
    }
    &:first-child{
      border-top:none
    }
    &.header-row{
      padding: 0 1rem;
      strong{
        font-size: 1.1rem;
        color: $brand-orange;
        display: block;

      }
    }
    &.no-val{
      *{
        text-decoration: line-through;
      }
    }
    .for-pop {
      top: 14px;
    }
  }
  &.all{
    height: auto;
    max-height: inherit;

  }
}
.inline-list{
  @extend %listreset;
  li{
    display: inline-block;
  }
}
.user-info{
  font-size: 20px;
  margin-bottom: 0.7rem;
}
.hr-cln{
  max-width: inherit;
  margin: 0.7rem 0;
}
.pop-close{
  float: right;
  @include css3(box-shadow, 0 0 5px $gainsboro);
  font-size: 1.2rem;
  @include css3(transition,background 0s !important) ;
  background: transparent;
  border:1px $brand-orange solid;
  color:$black;
  padding: 0 0.5rem 0 0;
  .fa{
    padding: 0.6em;
    color: $white;
    background: $brand-orange;
    margin-right: 0.2rem;

  }
  &.back-to{
    margin-right: 11px;
  }
}
.btn-orange{
  background: $brand-orange;
}
.tooltip{
  z-index: 9999;
}

.total-row{
  background-color:rgba($brand-orange,0.28);
  background-image: radial-gradient($black 2%, transparent 6%),
  radial-gradient($black 2%, transparent 6%);
  background-size:10px 10px;
  background-position: 0 0, 15px 15px;
  font-size: 18px;
  padding: 0.4rem 0;

  p{
    margin-bottom: 0;
  }
  margin-bottom: 1.14329rem;
}
.has-tip{
  &.for-pop{
    background: $brand-orange;
    @include css3(border-radius,50%);
    display: inline-block;
    position: relative;
    top: 5px;
    text-align: center;
    width: 16px;
    height: 16px;
    .fa{
      color:$white;
      font-size: 13px;
      line-height: 16px;
      vertical-align: top;

    }
  }

}

.legacy-form-holder {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.29);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.29);

  .pop-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,0.3);
  }

  .pop-content {
    width: 80%;
    height: 100%;
    position: relative;
    background: #fff;
    float: right;

    .form-header + div.expanded {
      padding: 15px 10px;
    }

    .pop-heading {
      float: left;
      font-size: 1.8rem;
      font-weight: 500;
    }
  }

  .iframe-wrapper {
    position: relative;
    -webkit-overflow-scrolling: touch;
    overflow: auto;

    #legacy-info{
      #header{
        display: none;
      }

      border:none;
      position: absolute;
      width: calc(100% - 20px);
      height: 100%;
    }
  }
}


.powered-by{
  max-width: 200px;
  margin: 3rem auto 0;
  overflow: hidden;
  span{
    float: left;
    line-height:2rem;
    font-size: 0.82rem;
  }
  img{
    float: right;
    max-width: 130px;
    border-left:1px solid lighten($black,45%);
    padding-left: 0.5rem ;
  }
}
.callout.spent-info.active.visible{
  max-width: 80%;
}

.select2-container {
  margin: 0 0 1.05263rem !important;
  .select2-search--inline .select2-search__field {
    margin: 0 !important;
    width: 100% !important;
  }
  .select2-selection--multiple {
    min-height: 30px !important;

  }
  .select2-selection--multiple .select2-selection__rendered {
    display: block !important;
  }
}

.select-me {
  display: block;
}

#dashboard {
  color: #8A8A8A;

  .color-tuatara {
    color: #444;
  }

  .color-orange {
    color: #FF690A;
  }

  .box-content-holder.is-relative {
    min-height: 200px;
  }

  .no-data {
    background: $silver;
  }

  .client-info {
    color: #444;

    i {
      width: 16px;
    }
  }

  .overview {
    padding: 0;

    .device-detail {
      width: 37.5%;
      height: 360px;
      float: left;

      .overview-item {
        width: 50%;
        float: left;
        border-bottom: 1px solid rgba(151, 151, 151, 0.3);
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
          margin-bottom: 0;

          &.user-actions {
            padding: 0 50px;
          }

          select {
            background-image: none;
            margin-bottom: 0;
          }
        }

        &.full {
          width: 100%;
          border-bottom: none;
        }
      }

      &.first {
        .overview-item {
          border-right: 1px solid rgba(151, 151, 151, 0.3);
        }
      }

      &.second {
        .overview-item {
          border-left: 1px solid rgba(151, 151, 151, 0.3);
        }
      }
    }

    .device-image {
      width: 25%;
      float: left;
      height: 360px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      span {
        font-size: 20px;
      }

      div {
        width: calc(100% - 20px);
        max-width: 220px;
        height: 220px;
        margin: 10px 0;
        background: url('~assets/phone-mifi-tablet.svg') center center no-repeat;
      }

      a {
        width: calc(100% - 20px);
        max-width: 220px;

        i {
          padding-right: 10px;
        }
      }
    }

    @media only screen and (max-width: 635px) {
      .device-detail {
        width: 100%;

        &.first {
          .row {
            &>div:last-child {
              border-right: none;
            }
          }
        }

        &.last {
          .row {
            &>div:first-child {
              border-right: none;
            }
          }
        }
      }

      .device-image {
        width: 100%;
        border-top: 1px solid rgba(151, 151, 151, 0.3);
        border-bottom: 1px solid rgba(151, 151, 151, 0.3);
      }
    }

    .custom-pagination {
      width: 100%;
      min-height: 60px;
      background-color: rgba(255,105,10,0.2);
      position: relative;

      a.item-prev, a.item-next {
        height: 100%;
        width: 50px;
        color: #FFF;
        background-color: rgb(255,105,10);
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;

        &.inactive {
          background-color: #DDDDDD;
          cursor: not-allowed;
        }
      }

      a.item-prev {
        left: 0;
        top: 0;
      }

      a.item-next {
        right: 0;
        top: 0;
      }

      div.pagination-pages {
        width: 100%;
        min-height: 60px;
        padding: 0 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        .page-item {
          display: inline-block;
          float: left;
          margin: 3px;
          height: 18px;
          width: 18px;
          background-color: #fff;
          border-radius: 50%;
          border: 1px solid #FF690A;

          &.active {
            background-color: #FF690A;
          }
        }
      }
    }
  }

  .place-order {
    .each-order {
      text-align: center;
      color: #444;
      cursor: pointer;
      margin: 5px 0;

      i {
        padding: 20px;
        border: 3px solid #444;
        border-radius: 50%;
        width: 124px;
        height: 124px;
        position: relative;
        @include css3(transition, all 0.2s ease-in-out);
        &.active {
          border-color: #f35d0a;
          color: #f35d0a;

          &:after {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: 20px;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;

            content: "\f00c";
            position: absolute;
            bottom: 5px;
            right: 0;
            color: #f35d0a;
            background: #fff;
            border-radius: 50%;

            border: 1px solid #f35d0a;
            padding: 4px;
          }
        }
      }
    }
  }
}

.top-bar-section {
  .profile ul {
    margin: 0;
    list-style: none;

    li {
      padding: 5px;

      a {
        display: inline-block;
        padding: 5px;
      }
    }
  }
}

@media print, screen and (max-width: 1244px) {
  .spent-info {
    top: 120px;
  }
}

@media print, screen and (max-width: 800px) {
  .spent-info {
    top: 126px;
  }
}
@media print, screen and (max-width: 377px) {
  .spent-info {
    max-width: 90% !important;
  }
}

@media print, screen and (max-width: 377px) {
  .spent-info {
    top: 158px;
  }
}

@media print, screen and (max-width: 425px) {
  .legacy-form-holder {
    .pop-content {
      width: 100%;
    }
  }
}
