@import "../base/clean-variables";
@import "../mixins/other-mixin";
.filter{
  padding: rem-calc(10) rem-calc(15) rem-calc(35) ;
  .username{
    font-size: 28px;
    font-weight: 400;
    margin: 0;
  }
  .user-filter{
    max-width: 140px;
  }
  .bill-filter{
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 300;
    margin-bottom: rem-calc(20);
  }
  &:after{
    @extend %content-after;
  }

}
.bg-login{
  background: $bg-login ;
}
.grid-box{
  p:empty {
    display: none;
  }
  margin-bottom: rem-calc(15);
  /*  border:1px solid rgba(0, 0, 0, 0.09);*/
  background: #FDFDFF;
  @include css3(border-radius,0);
  .box-heading{
    background: $brand-orange;
    border-bottom:1px solid rgba(0, 0, 0, 0.04);
    padding:0.3rem 0.6rem;
    h2{
      /*   color: rgba(57, 67, 76, 1);*/
      color: $black;
      font-size: 0.9rem;
      font-weight: 500;
      margin: 0;
      text-transform: capitalize;

    }
    @include css3(border-radius,0);
  }
  .box-content{

    .note{
      display: block;
      font-weight: 600;
      padding: 0.7rem 1rem 1rem;
    }
    &-holder{
      padding: 0.7rem 0.6rem ;
      p{
        margin-bottom: 0;
        &:first-child{
          margin-bottom: 0.7em;
        }
      }
    }
    &.coming-soon{
      position: relative;
      &:before{
        background: transparentize($smoke,.1);
        content: "Coming Soon";
        font-size: 25px;
        font-weight: 600;
        height: 100%;
        left: 0;
        line-height: 300px;
        padding-top: 0;
        position: absolute;
        text-align: center;
        text-shadow: 0 0 5px #fff;
        text-transform: uppercase;
        top: 0;
        width: 100%;
        z-index: 5;

      }
    }
  }

}
.icon-list{
  @extend %listreset;
  border-top:1px solid $smoke;
  li{
    line-height: rem-calc(32);
    padding-left: 0;
    border-bottom:1px solid $smoke;
    .fa{
      margin-right: rem-calc(10);
      font-size: rem-calc(13);
    }
    a{
      font-weight: 400;
    }
  }
  ul{
    margin: 0 0 0 2rem;
    list-style-position: inside;
    li{
      border-bottom: none;
    }
  }
}
.wireless-overview{
  .user-actions{
    max-width: 180px;
    margin-bottom: 0;
    padding: 0.3rem;
  }
  .btn-next{
    padding: 0.5rem 1rem 0.38rem;
    vertical-align: top;
    margin-bottom: 0;
    line-height: 1.2rem;
  }
  table{
    border:none;
    margin-bottom: 0;
    border-collapse:unset;
    tr{
      &:nth-child(2n){
        background: #F9F9F9;
      }
    }
    th{
      background: $white;
      line-height: 1.110rem;
      font-weight: 600;
      border-bottom:1px rgba(108, 122, 134, 0.08) solid;
      text-align: left;
      padding: 0.1rem 0.56667rem;
    }
    td{
      padding: 0.53333rem 0.56667rem 0.56667rem;

    }
    select{
      font-size: 1rem;
      height: 2.3rem;
      background-position: right 0.4rem center;
    }
  }
  .monthly-charge{
    display: inline-block;
    color:$white;
    font-weight: 400;
    padding: 0 0.3rem;
    font-size: 0.8rem;
    background: lighten($brand-orange,10%);
  }
}
.welcome-box{
  @extend .alert-box;
  background: transparent;
  border-width: 0;
  color:$brand-dark;
  margin-bottom: 0;

  h2{
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0 0 0.7rem;
  }
  .close{
    top:18%;
  }
}
.action-button{
  padding:0  0 1rem;
  position: relative;
  .button{
    font-weight: 600;
    margin-bottom: 0;
    padding:0.475rem 0.8rem 0.5375rem;
  }
}
.search-container{
  width: 25rem;

  @include css3(transition,all 0.2s ease-in-out);

  .search-form{
    /*    margin-top: rem-calc(15);*/
    position:relative;
    input[type='text']{
      background: $ghost ;
      /*@include css3(border-radius,20px);*/
      @include css3(border-radius,20px);
      height: 2.3rem !important;
    }

    .btn-search{
      @extend .button;
      color:$brand-dark;
      position: absolute !important;
      background: transparent;
      padding: 0.64rem 1rem 0.7rem !important;
      border: none;
      right: 0;
      top:5px !important;
      &:hover,
      &:focus{
        background: none;
        color:$oil;
      }
    }
  }
  .search-footer{
    padding: 10px 0 ;
    border-top:1px lighten($steel ,30%) solid;
    display:none;
    .button{
      padding: 1rem 2rem 1.0625rem 2rem !important;
      height: auto !important;
    }
  }
  #close{
    background: #ffffff none repeat scroll 0 0;
    border-radius: 50%;
    box-shadow: 0 0 3px;
    height: 16px;
    line-height: 0.7rem;
    position: absolute;
    right: -8px;
    text-align: center;
    top: -16px;
    width: 17px;
    .fa{
      font-size: 13px;
    }
  }
  &.active{
    background: $white;
    border: 1px solid lighten($iron,20%);
    padding: 0 10px 10px;
    position: absolute ;
    @include css3(box-shadow,0 0 5px rgba(0,0,0,0.3));
    z-index: 9;
    /*   width: 100%;*/
  }
  .support-form-holder{
    display: none;
    input, select{
      font-size: 0.875rem !important;
      height: auto;
      padding:0.5rem !important;
      top:0 !important;
      margin: 0 0 1rem 0 !important;
    }
    .static-form-text{
      margin-bottom: 1rem;
      display: block;
    }
  }
  .search-results{
    display: none;
    max-height: 150px;
    overflow: auto;
    li{
      background: none !important;
      float: none !important;
      &:hover{
        background: none !important;
        a{
          background: none !important;
        }
      }
      a{
        color:$brand-orange !important;
        &:hover{
          background: none;
          color: $brand-orange;
        }
      }
    }
  }
  .article-holder{
    max-height: 250px;
    overflow: auto;
    ul{
      li{
        background: none !important;
        float: none !important;
        &:hover{
          background: none !important;
          a{
            background: none !important;
          }
        }
        a{
          color:$brand-orange !important;
          &:hover{
            background: none;
            color: $brand-orange;
          }
        }
      }
    }
  }
}
.inner-wrap{
  background: $white-smoke;
  height: 100%;
  position: fixed;
  overflow: auto;
  .off-canvas-wrap &{
    background: $white;
    height: auto;
    position: static;
    overflow: inherit;
  }
}
.highcharts-background{
  fill:transparent !important;
}
.login{
  .callout{
    position: fixed;
    top:0;
    width: 100%;
    left: 0;
    h5{
      text-align:center;
    }
    .close-button{
      color:$gainsboro;
      &:hover{
        color:$white;
      }
    }
  }
  input{
    font-size: 1rem;
  }
  .button{
    background: $brand-orange;
  }
  .profile{
    overflow: hidden;
    top:0;
    padding-bottom: 7px;
    height: auto;
    background: transparent !important;
    &:before{
      content: none;
    }

    img{
      width: 40%;
      @include css3(border-radius,0);
      margin: 0 auto;
      display: block;
      padding: 7px;
      border-bottom: 1px rgba(255,255,255,0.2) solid;
    }
    h3{
      letter-spacing: 4px;
      top: 2px;
      left: 0;
      font-size: 2rem;
      font-weight: 600;
      opacity: 1;
      text-align: center;
      text-shadow: 0 0 17px rgba(255, 255, 255, 0.5);
      margin: 0;
    }
    small{
      color:rgba(253, 253, 253, 0.4);
      text-decoration: none;
      display: inline-block;
      @include css3(border-radius,none);
      border:none;
      line-height: 1.5;
      font-size: 0.9rem;
      padding: 2px 5px;
      opacity: 0.4;
      position: relative;
      top:0;
      letter-spacing: 5px;
      left: 0;
    }
  }
  .accordion{
    .content{
      padding: 0;
    }
    .new-account{
      background: $brand-blue;
      color: $white;
      &:hover{
        background: darken($brand-blue,5%);
      }
    }
  }

}
.alert-box{
  &.alert{
    margin-bottom: 0;
  }
}
.menu-left{
  @media screen and (max-width: 800px) {
    display: none;
  }
  position: fixed;
  width: 200px;
  z-index: 99;
  background: $sidebar-bg;
  height: 100%;
  left: 0;
  .icon-close{
    position: absolute;
    right: -25px;
    font-size: 0.8rem;
    top: 90px;
    padding: 1px 9px;
    background: #2E3337;
    color:$white;
    @include css3(border-radius,0 3px 3px 0);
  }
  &.test{
    width: 50px;
    .icon-close{
      top:72px;
    }
    .sidebar-menu{
      > li {
        span,
        .label,
        .fa-angle-down{
          display: none;
        }
        &.header{
          display: none;
        }
        .treeview-menu{
          .fa-angle-down{
            display: block;
          }
        }
      }
      li.logo{
        padding: 10px 2px 10px 2px;
      }
    }

    .treeview-menu.menu-open {
      position: absolute;
      left:98%;
      top:0;
      min-width: 170px;
      z-index: 9999;
      > li > a{
        padding-left: 0;
      }
      .treeview-menu.menu-open{
        position: static;
      }
    }
    .img-full{
      display: none;
    }
    .img-collapse{
      display: block;
    }
    .text-copyright{
      display: block;
      font-size: 9px;
      font-weight: 700;
      line-height: 10px;
      margin:0 0 5px;
      text-align: center;
      text-transform: uppercase;
    }
  }
}
.content-right{
  padding-left: 200px;
  padding-bottom: 50px;
  &.test{
    padding-left:50px ;
  }
  @media screen and (max-width: 800px) {
    padding-left: 0;
    &.test{
      padding-left: 0;
    }
  }
}


.client-info{
  font-weight: 300;
  border-color:rgba(0, 0, 0, 0.10);
  padding: 0 0 0 1rem;
  border:none;
  z-index: -1;
  font-size: 0.9125rem;
  background: transparent;
  h2{
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0 0 0.2rem;
  }
}
a.btn-provision:hover .support-form-holder{
  display: block !important;
}
.support-form-holder{
  background: $white;
  border: 1px solid $gainsboro;
  @include css3(box-shadow,0 0 20px rgba(0, 0, 0, 0.29));
  display: none;
  right:0;
  width: 430px;
  position: fixed;
  top: 0;
  z-index: 99;
  height: 100%;
  .columns{
    position: relative;
  }
  label{
    color:#444;
    &.error{
      background: $brand-red;
      color: $white;
      position: absolute;
      bottom: 0px;
      font-size: 0.9em;
      line-height: 1.3rem;
      font-style: italic;
      width: 93%;
      left: 15px;
      padding: 0 0.4rem;
      margin: 0;
      z-index: 99;
    }
  }
  .form-header{
    padding:1.15385rem;
    position: relative;
    border-bottom:1px $smoke solid;
    background: $white;
    top:-1px;
    z-index: 99;
    h2{
      font-size: 1.4rem;
      margin: 0;
      font-weight: 700;
    }
    #btn-close {
      font-size: 18px;
      position: absolute;
      right: 9px;
      top: 6px;
      color:$brand-dark;
      &:hover{
        color:$brand-dark;
      }
    }
  }
  .form-footer{
    padding:1.15385rem;
    border-top:1px $smoke solid;
    background: $white;
    position: absolute;
    bottom:0;
    width: 100%;
    left: 0;
    .button{
      margin-bottom: 0;
    }

  }
  .form-title{
    font-weight: 700;
  }
  legend{
    color: #444;
    display: block;
    font-size: 1.07692rem;
    font-weight: normal;
    line-height: 1.8;
    margin: 0;

  }
  .has-tip{
    line-height: 1rem;
    &.is-required{
      color:$brand-red;
      border-color:$brand-red;
      font-size: 1.1rem;
      font-weight: 700;
    }
    .fa-question-circle{
      color:$brand-blue;
    }
  }
  .fieldset{
    padding: 0 0.53846rem;
    margin: 0 0 1.23077rem;
    legend{
      background: #F9F9F9;
    }
  }

}
.off-canvas-wrapper{
  overflow: hidden;
}
.support-form-container{
  bottom: 71px;
  height: 100%;
  margin-top: 210px;
  overflow-y: scroll;
  padding-top: 128px;
  background: #F9F9F9;
  position: absolute;
  .mix{
    display: none;
  }
}
.callout,
#modal{
  &.is-error{
    background: $brand-red;
    color: $white;
  }
  &.is-success{
    background: $brand-green;
    color: $white;
  }
}
.img-avatar{
  height: 47px;
  width: 47px;
  @include css3(border-radius,50%);
  background: $silver;

}
.profile{
  .greeting{
    font-weight: 600;
  }
  ul{
    @extend %listreset;
    li{
      padding: 1rem 0;
      &:first-child{
        padding-top: 0;
      }
      &:last-child{
        padding-bottom: 0;
      }
    }
  }
  .dropdown-pane{
    max-width:200px ;
    top:87px !important;
    padding: 0.6rem;
    &:before{
      content:'';
      position:absolute;
      top:-11px;
      right:0;
      width: 0;
      height: 0;
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      border-bottom: 10px solid gray;
    }
  }
}
.btn-round{
  @include css3(border-radius,6px);
}