@import "../base/clean-variables";
footer{
  background: #0C2E82;
  #footer {
    // position: fixed;
    z-index: 6;
    width: 100%;
    bottom: 0;
    // margin-left: 200px;
    padding: 0.95rem;
    text-align: center;
    color: $white;

    a {
      color:$brand-orange;
      text-decoration: none;
    }

    .text-orange {
      color: $brand-orange;
    }

    span {
      @media screen and (max-width: 800px) {
        display: block;
      }
    }
  }
}
