@import "../base/clean-variables";
footer{
  background: #0C2E82;
  #footer{

    a{
      color:$brand-orange;
      text-decoration: none;

    }
    .text-orange{
      color: $brand-orange;
    }

  
  color: $white;
  padding: 0.95rem;
  text-align: left;
  margin-left: 200px;
  width: 100%;
   // position: fixed;
    bottom: 0;
    z-index: 6;
}

}
