@import "../base/clean-variables";
footer{
  #footer{

    a{
      color:$brand-orange;
      text-decoration: none;

    }
    .text-orange{
      color: $brand-orange;
    }
  background: #1243a5;

  color: $white;

  padding: 0.95rem;

  text-align: right;
  width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 6;
}

}
