@import "../base/clean-variables";
@import "../plugins/material-color";
@import "../mixins/other-mixin";

.page.order-page.order-index-page {

  .row.charts {
    margin-bottom: 15px;
  }

  table.unstriped {
    tbody {
      td {
        vertical-align: top;

        .button.state-button {
          margin: 10px 0 0 0;
          padding: 8px 12px;
          color: #FFFFFF;
        }
      }
    }
  }
}

.status {
  .label {
    color: $white !important;
  }
}
