@import "../base/clean-variables";

.package-new-page {
  .grid-box {
    .box-heading h2 {
      padding: 10px 20px;
    }

    .box-content-holder {
      height: 150px;
    }

    .box-content {
      padding: 15px;
    }
  }

  .loading_zone {
    text-align: center;
    font-size: 25px;
  }

  .sub-title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .m-b-15 {
    margin-bottom: 15px;
  }

  .m-r-10 {
    margin-right: 10px;
  }

  .p-t-25 {
    padding-top: 25px;
  }

  .delete {
    background-color: #d9534f;
  }

  .eachDevice {
    color: #444444;
    height: auto;
    text-align: center;
    margin: 15px 0;

    .device-image {
      display: block;

      img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: 150px
      }
    }
  }
}

.package-index-page {
  .box-content-holder {
    height: 150px;
  }

  table.unstriped {
    & > tbody:nth-of-type(2n) {
      background-color: #f9f9f9;

      tr.overview-tr {
        background-color: #f9f9f9;
      }
    }
    tr.detail-tr {
      background-color: #f9f9f9;
    }
  }
}

div.VueCarousel-slide {
  .box-type-1,
  .box-type-2,
  .eachDevice {
    border-left: 1px $smoke solid;
    cursor: pointer;
  }
  &:first-child {
    .box-type-1,
    .box-type-2,
    .eachDevice {
      border-left: none;
    }
  }
}

.box-type-1 {
  color: #444444;
  position: relative;
  padding: 10px 0;
  @include css3(transition, all 0.5s ease-in-out);

  &.active {
    background-color: #f35d0a;
    color: #fff;

    .icon-circle {
      border-color: transparent !important;

      i {
        color: #f35d0a;
      }
    }

  }

  .box-icon {
    margin-top: 10px;
    display: block;
    text-align: center;
    font-size: 2em;
    margin-bottom: 15px;

    .icon-circle {
      padding: 7px 12px;
      background: #FFF;
      border-radius: 50%;
      border: 1px solid #444;
    }
  }

  .box-content {
    text-align: center;
    padding: 0 10px;
  }
}

.box-type-2 {
  color: #444444;
  position: relative;
  padding: 10px 0;

  &.active {
    border: 2px solid #f35d0a !important;
    &:after {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 25px;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;

      content: "\f05d";
      position: absolute;
      top: 0;
      right: 0;
      color: #f35d0a;
      background: #fff;
      z-index: 1;
    }
  }

  .box-icon {
    margin-top: 10px;
    display: block;
    text-align: center;
    font-size: 2em;
  }

  .box-content {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 0 10px;
    min-height: 70px;
    .serviceImage {
      margin: 0 auto 10px;
      width: 80%;
      padding: 10px;
      border: 1px solid rgba(68, 68, 68, 0.5);
      border-radius: 10px;
    }
  }
}

.device-image {
  img {
    max-height: 140px;
    display: block;
    margin: 0 auto;
  }
}