@import "../base/clean-variables";

.p-l-20 {
  padding-left: 20px;
}

.p-r-20 {
  padding-right: 20px;
}

.p-b-20 {
  padding-bottom: 20px;
}

.p-t-20 {
  padding-top: 20px;
}

.p-20 {
  padding: 20px;
}

.inline-block {
  display: inline-block;
}

.bold {
  font-weight: bold;
}

.capitalize {
  text-transform: capitalize;
}

.m-t-25 {
  margin-top: 25px;
}

.m-t-15 {
  margin-top: 15px;
}

.m-b-40 {
  margin-bottom: 40px;
}

.m-b-20 {
  margin-bottom: 20px !important;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.m-b-15 {
  margin-bottom: 15px !important;
}

.m-r-5 {
  margin-right: 5px;
}

.m-b-0 {
  margin-bottom: 0;
}

.p-b-5 {
  padding-bottom: 5px;
}

.p-r-5s {
  padding-right: 5%;
}

.p-10 {
  padding: 10px;
}

.ft-18 {
  font-size: 18px;
}

.ft-13 {
  font-size: 13px;
}

.ft-20 {
  font-size: 20px;
}

.italic {
  font-style: italic;
}

.black {
  color: #000 !important;
}

.error {
  font-weight: bold;
  color: #E05139;
}

.capitalize {
  text-transform: capitalize;
}

#placeorder {
  background-color: #FFF;
  padding: 20px 15px 10px;

  .asterisk {
    color: red;
  }

  .border-bottom {
    border-bottom: 1px solid #eee;
  }

  .device-active, .accessory-active {
    border: 1px solid #eee;
    background-color: rgba(0,0,0,0.1);
  }
  
  h4.category-title {
    padding-bottom: 6px;
    margin-bottom: 1rem;
    font-weight: bold;
    color: #FF690A;
    border-bottom: 1px $light-gray solid;
  }

  .avatar {
    span {
      font-weight: bold;
    }
  }

  .height-10 {
    height: 10px;
  }

  .profile-info {
    width: calc(100% - 280px);
    padding-left: 30px;
    color: #000;

    span {
      display: block;
    }
  }

  .custom-center {
    display: flex;
    justify-content: center;
  }

  .custom-radio {
    float:left;
    margin-top: 9px;
    margin-right: 5px;

    & + div {
      float: left;

      label {
        color: #444;
      }

      p {
        color: #000;
        font-weight: 500;
        font-size: 12px;
        font-style: italic;
      }
    }
  }

  .device-image {
    width: 150px;
    float: left;
    margin-right: 20px;
  }

  .device-description {
    width: calc(100% - 175px);
    float: left;

    p {
      margin-bottom: 0;
      font-size: 13px;
      color: #444;
      
      &.modifications {
        margin-bottom: 10px;
        height: 22px;
      }

      &.price {
        font-weight: bold;
        font-size: 15px;
        color: black;
      }

      &.review-option {
        font-size: 16px;
        padding: 2px 0;
        color: black;
      }
    }

    .device-variation {
      display: inline-block;
      font-size: 13px;
      border: 1px solid #FF690A;
      text-align: center;
      margin-right: 10px;
      float: left;
      cursor: pointer;
      padding: 0 5px;

      &.seperator {
        height: 22px;
        position: relative;
        padding: 0;
        border: none;

        &:after {
          position: absolute;
          content: '';
          height: 100%;
          border-left: 1px solid #444;
          right: -1px;
        }
      }

      &.active {
        background: #FF690A;
        color: #FFF;
      }
    }
  }

  .accessory-group {
    .each-accessory {
      float: left;
      display: block;
      padding: 10px 10px;
      margin: 1px;

      .accessory-image {
        max-width: 100%;
        display: block;

        img {
          height: 110px;
          display: block;
          margin: 0 auto;
        }
      }
    }

    @media only screen and (min-width: 1350px), (min-width: 370px) and (max-width: 509px) {
      .each-accessory {
        width: calc(33.3% - 2px);
      }

      &>div:nth-child(3n) {
        &:before, &:after {
          display: table;
          content: '';
        }

        &:after {
          clear: both;
        }
      }
    }

    @media only screen and (min-width: 1024px) and (max-width: 1349px), (max-width: 369px) {
      .each-accessory {
        width: calc(50% - 2px);
      }

      &>div:nth-child(2n) {
        &:before, &:after {
          display: table;
          content: '';
        }

        &:after {
          clear: both;
        }
      }
    }
    
    @media only screen and (min-width: 510px) and (max-width: 1023px) {
      .each-accessory {
        width: calc(25% - 2px);
      }

      &>div:nth-child(4n) {
        &:before, &:after {
          display: table;
          content: '';
        }

        &:after {
          clear: both;
        }
      }
    }
  }

  .section-title {
    font-size: 18px;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    padding: 5px 0;
    font-weight: bold;
    position: relative;
  }

  .review-device {
    & > div > p {
      margin-bottom: 0;
    }
  }

  .review-usage {
    & > div > p {
      font-size: 15px;
      margin-bottom: 0;
    }
  }

  .review-profile {
    width: calc(100% - 150px) !important;
    padding-left: 10px !important;

    p {
      font-size: 15px;
      margin-bottom: 0;
      padding: 2px 0;

      span {
        display: inline-block;
      }
    }
  }

  .review-shipping, .review-order {
    p {
      font-size: 15px;
      margin-bottom: 0;
      padding: 2px 0;
    }
  }
}

.step-wizard {
  color: #444;
  margin-bottom: 40px;

  .each-step {
    position: relative;

    p {
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 5px;
    }

    span.status {
      display: inline-block;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      border: 1px solid #FF690A;

      &.active {
        background-color: #FF690A;
      }

      i {
        color: #FFF;
        font-size: 20px;
        line-height: 32px;
      }
    }

    &:before, &:after {
      content: "";
      display: inline-block;
      width: calc(50% - 25px);
      height: 1px;
      border-bottom: 1px solid rgba(68, 68, 68, 0.5);
      position: absolute;
      bottom: 15px;
    }

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
    }

    &:first-of-type {
      &:before {
        width: 0;
      }
    }

    &:last-of-type {
      &:after {
        width: 0;
      }
    }
  }
}

.modal-mask.submit-order {
  .modal-container {
    width: 50%;
    background-color: #FFF;

    @media only screen and (max-width: 767px) {
      width: 90%;
    }

    .modal-header {
      position: relative;

      div.complete-mark {
        position: absolute;
        border-radius: 50%;
        display: inline-block;
        padding: 10px;
        border: 1px solid rgba(0,0,0,0.2);
        width: 150px;
        height: 150px;
        text-align: center;
        background-color: #FFF;
        color: #444;
        top: -75px;
        left: calc(50% - 75px);

        i {
          font-size: 130px;
        }
      }
    }

    .modal-body {
      p {
        font-size: 35px;
        font-weight: bold;
        color: black;
        line-height: 235px;
      }
    }
  }
}

.modal-mask.submit-order-pay {
  .modal-container {
    width: 50%;
    background-color: #FFF;

    @media only screen and (max-width: 767px) {
      width: 90%;
    }

    .modal-header {
      position: relative;

      div.credit-mark {
        position: absolute;
        border-radius: 50%;
        display: inline-block;
        padding: 10px;
        border: 1px solid rgba(0,0,0,0.2);
        width: 150px;
        height: 150px;
        text-align: center;
        background-color: #FFF;
        color: #444;
        top: -75px;
        left: calc(50% - 75px);

        i {
          font-size: 80px;
          line-height: 130px;
        }
      }
    }

    .modal-body {
      margin-top: 90px;
      padding: 0 10px;

      h4.category-title {
        font-size: 32px;
        margin-bottom: 0 !important;
      }

      label {
        text-align: left !important;

        span {
          font-size: 14px;
        }
      }

      a {
        width: 100%;
        margin-bottom: 0;
      }
    }
  }
}

.each-device-type {
  cursor: pointer;
  overflow: hidden;
  @include css3(transition, 0.3s all ease-in-out);
  .icon-holder {
    @include css3(transition, 0.3s all ease-in-out);
    float: left;
    padding: 0.3rem;
    border: 1px $dark-gray solid;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;
    margin-right: 0.5rem;
    .fa {
      font-size: 2rem;
      line-height: 3.1rem;
    }
  }
  &.active {
    .icon-holder {
      border-color: $brand-orange;
      background: $brand-orange;
      color: $white;
    }
    > strong {
      color: $brand-orange;
    }
  }
}

.modal-mask.address-modal {
  .modal-container {
    width: 80%;
  }
}

.address-modal {
  .or {
    margin-top: 5rem;
  }
}

.modal-mask.behalf-modal {
  .modal-body {
    text-align: left;
  }
}