@import "../base/clean-variables";
@import "../plugins/material-color";
@import "../mixins/other-mixin";

.page.preset-page.preset-edit-page {

  .row.overview {
    margin-bottom: 15px;
  }

  .detail-box {
    ul {
      list-style: none;
      margin: 0;
    }
  }

  .card {
    background-color: #f0f0f0;

    .card-section:nth-child(1) {
      height: 200px;
      padding: 0;
      margin: 15px;
      background-color: #FFFFFF;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .card-section:nth-child(2) {
      text-align: center;
    }
  }

  input[type="checkbox"]:checked + .card {
    background-color: material-color('orange', '800');
  }
}