@import "../base/clean-variables";
$sidebar-menu-bg: #434a4f;
$sidebar-menu-color: lighten($sidebar-menu-bg, 80%);
$sidebar-menu-hover-color: #fff;
$sidebar-menu-hover-bg:rgba(#FF690A,0.72);
$sidebar-menu-hover-border-color: #fff ;
$sidebar-menu-submenu-bg: lighten($sidebar-menu-bg, 5%);
$sidebar-menu-submenu-color: $sidebar-menu-color;
$sidebar-menu-submenu-hover-color: #fff;
$sidebar-menu-hover-border-color: #3c8dbc;

.sidebar-menu {
  list-style: none;
  margin: 0;

  padding: 0;
  background-color: transparent;
  //First Level
  > li {
    position: relative;
    margin: 0;
    padding: 0;
    border-top:1px rgba($white,0.2) solid;

    &.menu-toggle {
      > a {
        font-size: 24px;
        padding: 5px 0px 5px 10px;

        > .fa {
          color: #FFFFFF;
        }
      }
    }

    &.menu-title {

      color:$white;
       > span{
         text-transform: uppercase;
         font-weight: 500;
       }
      .fa{
        width: 17px;
        color: $brand-orange;
      }
      &.active {
        background: rgba($brand-orange, 0.2);
      }
    }

    > a {
      padding: 12px 5px 12px 15px;
      text-transform: uppercase;
      font-weight: 500;
      display: block;
      border-left: 3px solid transparent;
      color: $sidebar-menu-color;
      > .fa {
        width: 17px;
        color: $brand-orange;

      }
      > .fa-plus{
        margin: 3px;
        color:$white;
      }
    }
    &:hover > a, &.active > a {
      color: $sidebar-menu-hover-color;
      background: $sidebar-menu-hover-bg;
      border-left-color: darken($brand-orange,5%);
      > .fa{
        color:$white
      }
    }
    > .treeview-menu {
      margin: 0 1px;
      background:$brand-blue ;
    }
    .label,
    .badge {
      margin-top: 3px;
      margin-right: 5px;
    }

  }

  li {
    &.header {
      padding: 10px 25px 10px 15px;
      font-size: 12px;
      color: lighten($sidebar-menu-bg, 20%);
      background: darken($sidebar-menu-bg, 4%);
    }
    &.logo{
      padding: 10px 9px 10px 8px;
      background: linear-gradient(#F7F7F7, rgba($white,0.95));
      height:72px;
      text-align: center;
      display: table;
      img{
        max-height: 52px;
      }
      .logo-holder{
        display: table-cell;
        vertical-align: middle;
      }
    }
  }

  li > a > .fa-minus {
    width: auto;
    color:$white;
    height: auto;
    padding: 0;
    margin-right: 8px;
    margin-top: 3px;
    display: none;
  }

  li.active {
    > a > .fa-minus {
      display: block;
    }

    > a > .fa-plus {
      display: none;
    }

    > .treeview-menu {
      display: block;
      a {
        &.active {
          color: $brand-orange;
        }
      }
    }
  }

  a {
    color: $sidebar-menu-color;
    text-decoration: none;
  }

  // Tree view menu
  .treeview-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 5px;

    .treeview-menu {
      padding-left: 20px;
      .fa-circle-o{
        display: none;
      }
    }

    > li {
      margin: 0;
      > a {
        padding: 5px 5px 5px 15px;
        display: block;
        font-weight: 400;

        color: $sidebar-menu-submenu-color;
        > .fa {
          width: 8px;
          font-size: 14px;
          color:transparent;
        }
        > .fa-angle-left,
        > .fa-angle-down {
          width: 15px;
          color:#fff !important;
        }

      }
      > a:hover{
        color: $brand-orange;
      }
      &.active > a {
        color: $sidebar-menu-submenu-hover-color;
      }
    }
  }
  .open-support {
    &:active, &:focus {
      background: $sidebar-menu-hover-bg !important;
      .fa {
        color: $white
      }
    }
  }
}
.nav-poweredby{
  border-top: 1px solid rgba(204, 204, 204, 0.12);
  text-align: center;
  bottom: 72px;
  padding: 2px 0 10px;
  width: 100%;
  position: absolute;
  background-color: $brand-blue;
  z-index: 999;
  .text-copyright{
    color: $white;
    float: left;
    font-size: 10px;
    font-weight: 700;
    margin-left: 12px;
    margin-right: 13px;
    margin-top: 10px;
    text-transform: uppercase;
  }
  .img-full{
    float: left;
    margin-top: 3px;
    max-width: 50%;
    padding-top: 5px;
  }
  .img-collapse{
    margin: 0 auto;
    max-width: 74%;
    display: none;
  }
}
