.mod-black {
  background-color: black !important;
}

.mod-black-sapphire {
  background-color: #08070d !important;
}

.mod-blue {
  background-color: blue !important;
}

.mod-gold {
  background-color: #efd49c !important;
}

.mod-gray {
  background-color: #bcbcbc !important;
}

.mod-green {
  background-color: green !important;
}

.mod-jet-black {
  background-color: #444548 !important;
}

.mod-pink {
  background: #ffbdbd !important;
}

.mod-red {
  background: red !important;
}

.mod-rose-gold {
  background: #b76e79 !important;
}

.mod-silver {
  background: #c0c0c0 !important;
}

.mod-space-grey {
  background-color: #bcbcbc !important;
}

.mod-white {
  background-color: #e9e9e9 !important;
}

.mod-yellow {
  background-color: yellow !important;
}
