@import "../variables";

.app-footer {
  border-top: 1px solid rgba(204, 204, 204, 0.12);
  background-color: $color-2;
  color: #fff;
  justify-content: center;
  // flex: 0 0 50px;
  .footer {
    font-size: 15px;
    text-align: center;
    a {
      color: $color-1;
      text-decoration: none;
    }
    i {
      color: $color-1;
    }
  }
}
