@import "../variables";

.pagination {
  margin: 20px;
  justify-content: center;
  text-align: center;

  a {
    padding: 3px 12px;
  }

  .current {
    display: inline-block;
    padding: 0 10px;
    background: $color-2;
    color: #fff;
    cursor: default;
  }

  .pagination-prev,
  .pagination-next {
    background: $color-5;
    box-shadow: 0 0 1px $color-1 inset;
    cursor: pointer;
  }

  .pagination-next {
    a {
      &:after, &:before {
        content: none;
      }
    }
  }
}
