.table-splited {
  .th-width__3 {
    width: 3%;
  }

  .th-width__6 {
    width: 6%;
  }

  .th-width__10 {
    width: 10%;
  }

  .th-width__12 {
    width: 12%;
  }

  .th-width__15 {
    width: 15%;
  }

  .th-width__20 {
    width: 20%;
  }

  .th-width__30 {
    width: 30%;
  }
}

