$sidebar-menu-bg: #434a4f;
$sidebar-menu-color: lighten($sidebar-menu-bg, 80%);
$sidebar-menu-hover-color: #fff;
$sidebar-menu-hover-bg: #2E3337;
$sidebar-menu-hover-border-color: #fff ;
$sidebar-menu-submenu-bg: lighten($sidebar-menu-bg, 5%);
$sidebar-menu-submenu-color: $sidebar-menu-color;
$sidebar-menu-submenu-hover-color: #fff;
$sidebar-menu-hover-border-color: #3c8dbc;

.sidebar-menu {
  list-style: none;
  margin: 0;
  font-size: 14px;
  padding: 0;
  background-color: $sidebar-menu-bg;
  //First Level
  > li {
    position: relative;
    margin: 0;
    padding: 0;
    &.menu-title{
      background: #2E3337;
      color:$white;
       > span{
         text-transform: uppercase;
         font-weight: 700;
       }
      .fa{
        width: 20px;
      }
    }
    > a {
      padding: 12px 5px 12px 15px;
      text-transform: uppercase;
      font-weight: 700;
      display: block;
      border-left: 3px solid transparent;
      color: $sidebar-menu-color;
      > .fa {
        width: 20px;
      }
    }
    &:hover > a, &.active > a {
      color: $sidebar-menu-hover-color;
      background: $sidebar-menu-hover-bg;
      border-left-color: $brand-orange;
    }
    > .treeview-menu {
      margin: 0 1px;
      background: $sidebar-menu-submenu-bg;
    }
    .label,
    .badge {
      margin-top: 3px;
      margin-right: 5px;
    }
  }

  li {
    &.header {
      padding: 10px 25px 10px 15px;
      font-size: 12px;
      color: lighten($sidebar-menu-bg, 20%);
      background: darken($sidebar-menu-bg, 4%);
    }
    &.logo{
      padding: 10px 9px 10px 8px;
      background: $white;
      /*border-right:1px #37474F solid;*/
    }
  }
  li > a > .fa-angle-down {
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 10px;
    margin-top: 3px;
  }
  li.active {
    > a > .fa-angle-down {
      transform: rotate(-180deg);
    }
    > .treeview-menu {
      display: block;
    }
  }

  a {
    color: $sidebar-menu-color;
    text-decoration: none;
  }

  // Tree view menu
  .treeview-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 5px;
    .treeview-menu {
      padding-left: 20px;
    }
    > li {
      margin: 0;
      > a {
        padding: 5px 5px 5px 15px;
        display: block;
        font-size: 14px;
        color: $sidebar-menu-submenu-color;
        > .fa {
          width: 20px;
        }
        > .fa-angle-left,
        > .fa-angle-down {
          width: auto;
        }
      }
      > a:hover{
        color: $brand-orange;
      }
      &.active > a {
        color: $sidebar-menu-submenu-hover-color;
      }
    }
  }
}
.nav-poweredby{
  border-top: 1px solid rgba(204, 204, 204, 0.12);
  text-align: center;
  bottom: 0;
  padding: 3px 0 13px;
  position: absolute;
  z-index: 999;
  .text-copyright{
    color: #aeaeae;
    float: left;
    font-size: 12px;
    font-weight: 700;
    margin-left: 4px;
    margin-right: 8px;
    margin-top: 10px;
    text-transform: uppercase;
  }
  img{
    -webkit-filter: grayscale(1);
    filter: grayscale(1);

  }
  .img-full{
    float: left;
    margin-top: 3px;
    max-width: 53%;
    padding-top: 5px;
  }
  .img-collapse{
    margin: 0 auto;
    max-width: 74%;
    display: none;
  }
}
