<div class="detail-mask" {{action 'dismissSummary'}}></div>
<div class="usage-slider">


    <div class="row">
      <div class="column small-12 large-12">
        <div class="report-details-header">
          <h1 class="page-title">
          <div>Usage Summary </div>
            
            

            <div class="button-dropdown-container filter">
            <small><a href="#" class="dropdown-button " data-dropdown="usageDrop" aria-controls="usageDrop" aria-expanded="true" >Long Distance Voice<span class="fa fa-angle-down"></span></a></small>
              <div id="usageDrop" data-dropdown-content class="f-dropdown right" role="menu" aria-hidden="false">
                <div class="options">
                  <ul>
                    <li><span class="fa"></span> Anytime Minutes</li>
                    <li><span class="fa fa-check"></span> Long Distance Voice</li>
                    <li><span class="fa"></span> Messaging</li>
                    <li><span class="fa"></span> Data</li>
                  </ul>
                </div>
              </div>
            </div>
          </h1>
          
            <div class="cta-container">
              <a {{action 'dismissSummary'}} class="button small middle grey round">Back</a>

              <a href="#" class="button small middle grey round"><span class="fa fa-file-o"></span> Export Report</a>
            </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="column small-12">

        <table class="table table-striped table-bordered report-table">
          <thead>
            <tr>
              <th>
                Date
              </th>
              <th>
                Origination
              </th>
              <th>
                Termination
              </th>
              <th>
                Minutes Used
                <div class="cost striped-bg">
                  100
                </div>
              </th>
              <th>
                Charge
                <div class="cost striped-bg">
                  $563.78
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                9/20/2013
              </td>
              <td>
                Great Britan
              </td>
              <td>
                United States
              </td>
              <td>
                17
              </td>
              <td>
                $1.10
              </td>
            </tr>
            <tr>
              <td>
                9/20/2013
              </td>
              <td>
                Great Britan
              </td>
              <td>
                United States
              </td>
              <td>
                17
              </td>
              <td>
                $1.10
              </td>
            </tr>
            <tr>
              <td>
                9/20/2013
              </td>
              <td>
                Great Britan
              </td>
              <td>
                United States
              </td>
              <td>
                17
              </td>
              <td>
                $1.10
              </td>
            </tr>
            <tr>
              <td>
                9/20/2013
              </td>
              <td>
                Great Britan
              </td>
              <td>
                United States
              </td>
              <td>
                17
              </td>
              <td>
                $1.10
              </td>
            </tr>
            <tr>
              <td>
                9/20/2013
              </td>
              <td>
                Great Britan
              </td>
              <td>
                United States
              </td>
              <td>
                17
              </td>
              <td>
                $1.10
              </td>
            </tr>
            <tr>
              <td>
                9/20/2013
              </td>
              <td>
                Great Britan
              </td>
              <td>
                United States
              </td>
              <td>
                17
              </td>
              <td>
                $1.10
              </td>
            </tr>
            <tr>
              <td>
                9/20/2013
              </td>
              <td>
                Great Britan
              </td>
              <td>
                United States
              </td>
              <td>
                17
              </td>
              <td>
                $1.10
              </td>
            </tr>
            <tr>
              <td>
                9/20/2013
              </td>
              <td>
                Great Britan
              </td>
              <td>
                United States
              </td>
              <td>
                17
              </td>
              <td>
                $1.10
              </td>
            </tr>
            <tr>
              <td>
                9/20/2013
              </td>
              <td>
                Great Britan
              </td>
              <td>
                United States
              </td>
              <td>
                17
              </td>
              <td>
                $1.10
              </td>
            </tr>
            <tr>
              <td>
                9/20/2013
              </td>
              <td>
                Great Britan
              </td>
              <td>
                United States
              </td>
              <td>
                17
              </td>
              <td>
                $1.10
              </td>
            </tr>
            <tr>
              <td>
                9/20/2013
              </td>
              <td>
                Great Britan
              </td>
              <td>
                United States
              </td>
              <td>
                17
              </td>
              <td>
                $1.10
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
