@import '../variables';

.page.dashboard-legacy-page {
  .card.user-info-card {
    .field-container {
      display: flex;
      height: 120px;
      padding: 0;
      align-items: center;
      justify-content: center;
    }
    .field {
      // height: 100px;
      // border: 1px solid #e0e0e0;
      text-align: center;
      align-items: center;
      label {
        display: block;
        margin: 0 0 5px;
      }
    }

    .field-container.order-field-container {
      height: 364px;
      border: none;
      border-top: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
    }

    @media (max-width: 767px) {
      .field-container.order-field-container {
        // height: 364px;
        border: none;
        border-left: 1px solid $border-color;
        border-right: 1px solid $border-color;
      }
    }
  }

  .card.chart-card {
    .chart-container {
      position: relative;
    }
    .nav-tabs .nav-link {
      font-size: 14px;
    }
  }

  .custom-pagination {
    width: 100%;
    min-height: 60px;
    background-color: rgba(255, 105, 10, 0.2);
    position: relative;

    a.item-prev,
    a.item-next {
      height: 100%;
      width: 50px;
      color: #fff;
      background-color: rgb(255, 105, 10);
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;

      &.inactive {
        background-color: #dddddd;
        cursor: not-allowed;
      }
    }

    a.item-prev {
      left: 0;
      top: 0;
    }

    a.item-next {
      right: 0;
      top: 0;
    }

    div.pagination-pages {
      width: 100%;
      min-height: 60px;
      padding: 0 50px;
      display: flex;
      align-items: center;
      justify-content: center;

      .page-item {
        display: inline-block;
        margin: 3px;
        height: 18px;
        width: 18px;
        background-color: #fff;
        border-radius: 50%;
        border: 1px solid #ff690a;

        &.active {
          background-color: #ff690a;
        }
      }
    }
  }
}

.page.dashboard-page {
  // margin: 0 15px;
  padding: 0;
  font-family: Montserrat;
  font-size: 12px;
  line-height: 28px;
  // color: $color-8;
  h3 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
  }
  h4 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 600;
  }
  h5 {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 600;
  }
  p {
    margin: 0;
  }
  b {
    font-weight: 600;
  }

  .left-panel {
    width: 280px;
    min-height: calc(100vh - 105px);
    padding: 40px;
    // border-radius: 5px;
    background-color: $color-12;
    color: #fff;
  }
  .right-panel {
    padding: 48px;
    &__body {
      padding: 48px;
      background-color: #fff;
    }
  }

  .empty-container {
    text-align: center;
    background-color: #fff;
    color: $color-8;
    i {
      color: $default;
      font-size: 60px;
    }
    h4 {
      font-size: 24px;
      line-height: 36px;
    }
    p {
      font-size: 16px;
      font-weight: 600;
      a {
        color: $default;
      }
    }
    label {
      font-size: 16px;
    }
  }

  .order-type-container {
    .media {
      display: flex;
      flex: auto;
      align-items: center;
      border: 1px solid $default;
      border-radius: 3px;
      color: $default;
      cursor: pointer;
      user-select: none;
      i {
        margin-right: 30px;
        font-size: 24px;
      }
      img {
        width: 40px;
        margin-right: 30px;
      }
      .media-sub {
        color: #657089;
      }
      &:hover {
        background-color: rgba(32, 168, 216, 0.2);
      }
    }
    .media + .media {
      margin-left: 30px;
    }
  }
  .user-container {
    ul {
      li {
        padding: 8px 0;
        word-break: break-word;
        line-height: 12px;
      }
    }

    .edit-profile-btn {
      font-size: 11px;
    }
  }
  .device-container {
    &.empty {
      text-align: center;
      color: rgba(255, 255, 255, 0.1);
      i {
        font-size: 80px;
      }
      h4 {
        line-height: 24px;
      }
    }
    ul.device-list {
      margin: 0 -40px;
      li.device-item {
        padding: 15px 40px;
        line-height: 28px;
        &.active {
          background-color: rgba(255, 255, 255, 0.2);
        }
        label {
          position: relative;
          width: 100%;
          margin: 0;
          cursor: pointer;
          input[type='checkbox'] {
            display: none;
            position: absolute;
            top: 10px;
            left: -25px;
          }
          i {
            position: absolute;
            top: 50%;
            right: 5px;
            margin-top: -12px;
            font-family: FontAwesome;
            font-style: normal;
            font-size: 16px;
          }
        }
      }
      li + li {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
      }
    }
  }
  .setting-container {
    select {
      width: 100%;
      padding: 7px;
      border-radius: 5px;
      background-color: transparent;
      color: #fff;
      option {
        background: $color-12;
        color: #fff;
        // text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
      }
    }
  }
  .service-container {
    .right-tag {
      padding: 0 15px;
      text-align: center;
      label {
        color: $color-9;
        white-space: pre;
      }
    }
    .price-info {
      padding: 15px;
      border: 1px solid $border-color;
      border-radius: 5px;
      label {
        display: block;
        color: $color-9;
      }
      label + span {
        display: block;
        font-size: 24px;
      }
    }
    .service-info {
      padding: 30px;
      background-color: $body-bg;
      color: $primary;
      .media {
        display: flex;
        &-image {
          width: 40px;
          height: 40px;
          border-radius: 10px;
          background-color: $primary;
        }
      }
      .service-image {
        display: inline-block;
        width: 30px;
        height: 30px;
        background-color: $default;
        border-radius: 8px;
      }
    }
    .support-wrapper {
      b {
        color: $secondary;
      }
    }
  }
  .contact-container {
    ul {
      list-style: none;
      padding-left: 0;
      li {
        position: relative;
        padding: 5px 0 5px 30px;
        i {
          position: absolute;
          top: 12px;
          left: 12px;
          color: $color-12;
        }
      }
    }
  }

  .welcome-container {
    width: 600px;
    // height: 100vh;
    .welcome-image {
      height: 45vh;
      background: #fff url('assets/images/img-01.png') no-repeat center center;
      background-size: cover;
    }
    .custom-checkbox {
      line-height: 16px;
      label {
        font-size: 14px;
        line-height: 20px;
      }
    }
    .custom-control-input:checked ~ .custom-control-label::before {
      border-color: $default;
      background-color: $default;
    }
  }

  .service-info-container {
    width: 900px;

    h5 {
      font-weight: 600;
    }
    label {
      margin-bottom: 0;
      color: $color-9;
      font-weight: 600;
      text-transform: uppercase;
    }
    label + span {
      margin-left: 15px;
    }

    .left-pane {
      min-height: 100vh;
      select.form-control {
        background-color: transparent;
        color: $color-9;
        border-color: $color-9;
      }
    }
    .right-pane {
      .total-charges {
        margin-left: -15px;
        margin-right: -15px;
        background-color: #eef2f9;
        label {
          color: #00237b;
        }
      }
      .subtotal-charges {
        background-color: #eef2f9;
      }
    }
    hr {
      background-color: $color-9;
    }
  }
}

@media (max-width: 991.98px) {
  .page.dashboard-page {
    margin: 0;
    .left-panel {
      width: 100%;
      min-height: auto;
      padding: 0;
      background-color: $color-13;
      color: $color-4;
    }

    .card.device-card {
      margin: 0;
      border: 0 none;
      .card-header {
        border: 0 none;
        background-color: transparent;
        .btn.btn-transparent {
          color: $body-color;
          &.collapsed {
            // border-bottom: 1px solid $body-color;
            background-color: $color-13;
          }
          label {
            position: relative;
            width: 100%;
            margin: 0;
            text-align: left;
            line-height: 28px;
            input[type='checkbox'] {
              display: none;
              position: absolute;
              top: 10px;
              left: -25px;
            }
            i {
              position: absolute;
              top: 50%;
              right: 5px;
              margin-top: -12px;
              font-family: FontAwesome;
              font-style: normal;
              font-size: 16px;
            }
          }
        }
      }
    }

    .service-container {
      .service-info {
        padding: 0;
        background-color: #fff;
        color: $body-color;
      }
    }
    .setting-container {
      select {
        color: $color-4;
      }
    }

    .welcome-container {
      width: 100%;
      .welcome-image {
        display: none;
      }
    }
    .service-info-container {
      width: 100%;
    }
  }
}

.dashboard-drawer {
  font-family: Montserrat;
  display: flex;
  height: 100%;
  overflow-x: hidden;

  &-carrier-toggle {
    span {
      text-transform: uppercase;
      color: #657089;
      font-weight: 600;
      font-size: 10px;
    }
  }

  &-main {
    width: 500px;
    height: 100%;
    background-color: white;
    padding: 2.5rem;
    overflow-x: hidden;

    h1 {
      color: #1f2027;
      font-size: 16px;
      font-weight: 600;
    }
  }
}

.dashboard-form {
  font-family: Montserrat;
  font-size: 10px;

  .item > label {
    font-weight: 600;
    margin-bottom: 6px;
    text-transform: uppercase;
    color: #657089;
    line-height: 13px;
  }

  input[type='text'],
  input[type='password'] {
    font-size: 10px;
    border: 0.75px solid #afbad4;
    border-radius: 4px;
    height: 30px;
  }

  .col > div {
    position: relative;
  }

  .item {
    &-field-wrapper {
      line-height: normal;
    }
  }

  .error {
    font-size: 10px;
    margin-top:10px;
  }

  .is-danger {
    $danger: #ff690a;

    color: $danger !important;

    input,
    select {
      border-color: $danger !important;
    }

    label,
    option {
      color: $danger !important;
    }
  }

  .help-pop {
    margin-left: 10px;
  }
}
