@import "../variables";

.page.dashboard-page {
  .card.user-info-card {
    .field-container {
      display: flex;
      height: 120px;
      padding: 0;
      align-items: center;
      justify-content: center;
    }
    .field {
      // height: 100px;
      // border: 1px solid #e0e0e0;
      text-align: center;
      align-items: center;
      label {
        display: block;
        margin: 0 0 5px;
      }
    }

    .field-container.order-field-container {
      height: 364px;
      border: none;
      border-top: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
    }

    @media (max-width: 767px) {
      .field-container.order-field-container {
        // height: 364px;
        border: none;
        border-left: 1px solid $border-color;
        border-right: 1px solid $border-color;
      }
    }
  }

  .card.chart-card {
    .chart-container {
      position: relative;
    }
    .nav-tabs .nav-link {
      font-size: 14px;
    }
  }

  .custom-pagination {
    width: 100%;
    min-height: 60px;
    background-color: rgba(255,105,10,0.2);
    position: relative;

    a.item-prev, a.item-next {
      height: 100%;
      width: 50px;
      color: #FFF;
      background-color: rgb(255,105,10);
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;

      &.inactive {
        background-color: #DDDDDD;
        cursor: not-allowed;
      }
    }

    a.item-prev {
      left: 0;
      top: 0;
    }

    a.item-next {
      right: 0;
      top: 0;
    }

    div.pagination-pages {
      width: 100%;
      min-height: 60px;
      padding: 0 50px;
      display: flex;
      align-items: center;
      justify-content: center;

      .page-item {
        display: inline-block;
        float: left;
        margin: 3px;
        height: 18px;
        width: 18px;
        background-color: #fff;
        border-radius: 50%;
        border: 1px solid #FF690A;

        &.active {
          background-color: #FF690A;
        }
      }
    }
  }
}

.page.dashboard-page {
  margin: 0 15px;
  font-family: Montserrat;
  font-size: 12px;
  line-height: 28px;
  // color: $color-8;
  h3 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 30px;
  }
  h4 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 600;
  }
  p {
    margin: 0;
  }
  .left-panel {
    padding: 40px;
    border-radius: 5px;
    background-color: #355BB9;
    color: #fff;
    .user-container {
      ul {
        li {
          padding: 8px 0;
          word-break: break-word;
          line-height: 12px;
        }
      }
    }
    .device-container {
      ul {
        li {
          padding: 15px 0;
          line-height: 28px;
          label {
            position: relative;
            margin: 0;
            input[type="checkbox"] {
              position: absolute;
              top: 10px;
              left: -25px;
            }
          }
        }
        li + li {
          border-top: 1px solid rgba(255,255,255,0.5);
        }
      }
    }
    .setting-container {
      select {
        width: 100%;
        padding: 5px;
        background-color: transparent;
        color: #fff;
        option {
          background: #355BB9;
          color: #fff;
          // text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
        }
      }
    }
  }
  .right-panel {
    padding: 40px;
    background-color: #FFF;
    .service-container {
      .right-tag {
        padding: 0 15px;
        label {
          color: $color-9;
          white-space: pre;
        }
      }
      .price-info {
        padding: 15px;
        border: 1px solid $border-color;
        border-radius: 5px;
        label {
          display: block;
          color: $color-9;
        }
        label + span {
          display: block;
          font-size: 24px;
        }
      }
    }
  }
}
