@import "../variables";

.page.employee-page.employee-edit-page {
  .card {
    margin-bottom: 10px;
    .card-header {
      background-color: $color-3;
      color: $color-1;
      font-size: 18px;
      font-weight: 700;
    }
  }

  fieldset {
    padding: 0 15px;
    // margin: 0 0 20px;
    border: 1px solid #cacaca;

    legend {
      width: auto;
    }
  }

  .at-mark {
    padding-top: 33px;
  }
}

.page.employee-page.employee-index-page {
  .btn.add-button,
  .btn.add-bulk-button {
    margin-bottom: 15px;
    background-color: $color-1;
    color: #ffffff;
    font-weight: 400;
  }

  .tag-header {
    display: inline-block;
    padding: 0 100px 0 20px;
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;
  }

  .card.employee-list-card {
    margin: 0;
  }

  .search-field {
    position: relative;
    padding: 0;
    input[type="text"] {
      height: 40px;
      width: 100%;
      margin: 0;
      padding-left: 30px;
      border: 0 none;
      border-bottom: 1px solid $border-color;
    }
    i {
      position: absolute;
      left: 10px;
      top: 12px;
      color: #666666;
    }
  }
}
