.service-page {
  .tag-header {
    display: inline-block;
    padding-right: 80px;
  }

  .box-heading {
    margin: 0;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;
  }

  .input-group {
    margin-bottom: 20px;
  }

  .multiselect {
    width: initial;
    min-height: 35px;

    .multiselect__select {
      height: 35px;
    }

    .multiselect__tags {
      padding-top: 3px;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      min-height: 35px;
    }

    .multiselect__single, .multiselect__placeholder {
      margin-bottom: 6px;
      padding-top: 4px;
    }
  }

  .block {
    display: block;
  }

  .btn-control {
    position: absolute;
    right: 15px;
    bottom: 20px;
  }

  .fa-lightbulb-o:before {
    content: "\F067";
  }

  .btn-primary {
    &:hover {
      background: $color-1;
      border: 1px solid $color-1;
    }
  }

  .add-button {
    margin-bottom: 15px;
    background-color: $color-1;
    color: #ffffff;

    &:hover {
      background-color: $color-6;
    }
  }

  .multiselect__input {
    margin: 4px 0 6px;
    padding: 0;
    font-size: 14px;
  }

  table {
    th {
      outline: none;
    }

    .switch {
      display: block;
    }
  }

  .details-container {
    padding: 5px 15px;
  }

  .detail-caption {
    margin-right: 20px;
  }

  .switch-input {
    display: block;
    opacity: 0;
    visibility: hidden;
  }
}
