<div class="row">
  <div class="column small-12 large-7">
    <div class="report-details-header">
      <h1>My Reports</h1>
    </div>
  </div>
  <div class="column small-12 large-5 text-right dashboard-ctas">
  	{{#link-to "buildercreate1" class='button small middles round'}}
  	Create New Report
  	{{/link-to}}
  </div>
</div>

<div class="row">
  <div class="column small-12">
    <h3 class="details-header">Manual</h3>
    <table class="details-overview-table table-striped builder">
      <thead class="alt small">
        <tr>
          <th>
            Report
          </th>
          <th>
            Description
          </th>
          <th>
            Range
          </th>
          <th>
            Last Processed
          </th>
          <th colspan="2">
            Format
          </th>

          
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-title="Report">Monthly Dept Review</td>
          <td data-title="Description">
          	<div class="truncate">
          		<div class="content">
            		Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum.
            	</div>
            </div>
          </td>
          <td data-title="Range">
            Last Month
          </td>
          <td data-title="Last Processed">
            <div class="truncate history">
          		<div class="content">
            		04/01/2014<br/>
            		04/01/2014<br/>
            		04/01/2014<br/>
            		04/01/2014<br/>
            		04/01/2014<br/>
            		04/01/2014<br/>
            		04/01/2014<br/>
            		04/01/2014<br/>
            		04/01/2014
            	</div>
            </div>
          </td>
          <td data-title="Format">
            XLS
          </td>
          <td class="actions">
          	<a href="#" class="button small grey round "><span class="fa fa-pencil"></span></a>
          	<a href="#" class="button small grey round "><span class="fa fa-files-o"></span></a>
          	<a href="#" class="button small grey round "><span class="fa fa-times"></span></a>
          	<a href="#" class="button small round">Run Report</a>
          </td>
        </tr>
        <tr>
          <td data-title="Report">Carrier Audit</td>
          <td data-title="Description">
            <div class="truncate">
          		<div class="content">
            		Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum.
            	</div>
            </div>
          </td>
          <td data-title="Range">
            Last Month
          </td>
          <td data-title="Last Processed">
            <div class="truncate history">
          		<div class="content">
            		04/01/2014<br/>
            		04/01/2014<br/>
            		04/01/2014<br/>
            		04/01/2014<br/>
            		04/01/2014<br/>
            		04/01/2014<br/>
            		04/01/2014<br/>
            		04/01/2014<br/>
            		04/01/2014
            	</div>
            </div>
          </td>
          <td data-title="Format">
            Screen
          </td>
          <td class="actions">
          	<a href="#" class="button small grey round "><span class="fa fa-pencil"></span></a>
          	<a href="#" class="button small grey round "><span class="fa fa-files-o"></span></a>
          	<a href="#" class="button small grey round "><span class="fa fa-times"></span></a>
          	<a href="#" class="button small round">Run Report</a>
          </td>
        </tr>
        <tr>
          <td data-title="Report">Another Report</td>
          <td data-title="Description">
            <div class="truncate">
          		<div class="content">
            		Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum.
            	</div>
            </div>
          </td>
          <td data-title="Range">
            Last Month
          </td>
          <td data-title="Last Processed">
            <div class="truncate history">
          		<div class="content">
            		04/01/2014<br/>
            		04/01/2014<br/>
            		04/01/2014<br/>
            		04/01/2014<br/>
            		04/01/2014<br/>
            		04/01/2014<br/>
            		04/01/2014<br/>
            		04/01/2014<br/>
            		04/01/2014
            	</div>
            </div>
          </td>
          <td data-title="Format">
            Screen
          </td>
          <td class="actions">
          	<a href="#" class="button small grey round "><span class="fa fa-pencil"></span></a>
          	<a href="#" class="button small grey round "><span class="fa fa-files-o"></span></a>
          	<a href="#" class="button small grey round "><span class="fa fa-times"></span></a>
          	<a href="#" class="button small round">Run Report</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



<div class="row">
  <div class="column small-12">
    <h3 class="details-header">Scheduled</h3>
    <table class="details-overview-table table-striped builder">
      <thead class="alt small">
        <tr>
          <th>
            Report
          </th>
          <th>
            Description
          </th>
          <th>
            Range
          </th>
          <th>
            Last Processed
          </th>
          <th colspan="2">
            Format
          </th>

          
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-title="Report">Monthly Dept Review</td>
          <td data-title="Description">
            <div class="truncate">
          		<div class="content">
            		Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum.
            	</div>
            </div>
          </td>
          <td data-title="Range">
            Last Month
          </td>
          <td data-title="Last Processed">
            <div class="truncate history">
          		<div class="content">
            		04/01/2014<br/>
            		04/01/2014<br/>
            		04/01/2014<br/>
            		04/01/2014<br/>
            		04/01/2014<br/>
            		04/01/2014<br/>
            		04/01/2014<br/>
            		04/01/2014<br/>
            		04/01/2014
            	</div>
            </div>
          </td>
          <td data-title="Format">
            XLS
          </td>
          <td class="actions">
          	<a href="#" class="button small grey round "><span class="fa fa-pencil"></span></a>
          	<a href="#" class="button small grey round "><span class="fa fa-files-o"></span></a>
          	<a href="#" class="button small grey round "><span class="fa fa-times"></span></a>
          	<a href="#" class="button small round">Run Report</a>
          </td>
        </tr>
        <tr>
          <td data-title="Report">Carrier Audit</td>
          <td data-title="Description">
            <div class="truncate">
          		<div class="content">
            		Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum.
            	</div>
            </div>
          </td>
          <td data-title="Range">
            Last Month
          </td>
          <td data-title="Last Processed">
            <div class="truncate history">
          		<div class="content">
            		04/01/2014<br/>
            		04/01/2014<br/>
            		04/01/2014<br/>
            		04/01/2014<br/>
            		04/01/2014<br/>
            		04/01/2014<br/>
            		04/01/2014<br/>
            		04/01/2014<br/>
            		04/01/2014
            	</div>
            </div>
          </td>
          <td data-title="Format">
            Screen
          </td>
          <td class="actions">
          	<a href="#" class="button small grey round "><span class="fa fa-pencil"></span></a>
          	<a href="#" class="button small grey round "><span class="fa fa-files-o"></span></a>
          	<a href="#" class="button small grey round "><span class="fa fa-times"></span></a>
          	<a href="#" class="button small round">Run Report</a>
          </td>
        </tr>
        <tr>
          <td data-title="Report">Another Report</td>
          <td data-title="Description">
            <div class="truncate">
          		<div class="content">
            		Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum.
            	</div>
            </div>
          </td>
          <td data-title="Range">
            Last Month
          </td>
          <td data-title="Last Processed">
          	<div class="truncate history">
          		<div class="content">
            		04/01/2014<br/>
            		04/01/2014<br/>
            		04/01/2014<br/>
            		04/01/2014<br/>
            		04/01/2014<br/>
            		04/01/2014<br/>
            		04/01/2014<br/>
            		04/01/2014<br/>
            		04/01/2014
            	</div>
            </div>
          </td>
          <td data-title="Format">
            Screen
          </td>
          <td class="actions">
          	<a href="#" class="button small grey round "><span class="fa fa-pencil"></span></a>
          	<a href="#" class="button small grey round "><span class="fa fa-files-o"></span></a>
          	<a href="#" class="button small grey round "><span class="fa fa-times"></span></a>
          	<a href="#" class="button small round">Run Report</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>