<div class="row">
  <div class="column small-12">
    <div class="report-details-header">
      <div class="active-filters">
        <a href="#" {{action 'toggleSidebar' target="controllers.application"}}
          {{bind-attr class="controllers.application.isSidebarVisible:hidden:visible-inline :showControls"}}>
          <span class="fa fa-arrow-right"></span>
          Show Filters
        </a>
        <span class="filter">
          <strong>Bill Month</strong>: August 2014</span>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="column small-12 large-7">
    <div class="report-details-header">
      <h1>Report Dashboard</h1>
    </div>
  </div>
  <div class="column small-12 large-5 text-right dashboard-ctas">
    <a href="#" class="button small middle grey round"><span class="fa fa-file-o"></span> Export Report</a>
    <a href="#" class="button small middle grey round"><span class="fa fa-print"></span> Print Report</a>
  </div>
</div>

<div class="row">
  <div class="column small-12">
    <h2>Wireless Overview</h2>
    <h3 class="details-header">Total Charge by Month by Carrier</h3>
    <img src="/assets/images/dashboard1.png">
  </div>
</div>

<div class="row">
  <div class="column small-12 medium-6">
    <h3 class="details-header">Line Count by Device Type</h3>
    <img src="/assets/images/dashboard2.png">
  </div>
  <div class="column small-12 medium-6">
    <h3 class="details-header">Line Count by Carrier</h3>
    <img src="/assets/images/dashboard3.png">
  </div>
</div>

<div class="row">
  <div class="column small-12">
    <h2>Spend Analysis</h2>
    <h3 class="details-header">Cost Per User by Carrier</h3>
    <img src="/assets/images/dashboard4.png">
  </div>
</div>

<div class="row">
  <div class="column small-12 medium-6">
    <h3 class="details-header">Spend by Smartphone Subclass </h3>
    <img src="/assets/images/dashboard5.png">
  </div>
  <div class="column small-12 medium-6">
    <h3 class="details-header">Spend by Functional Category</h3>
    <img src="/assets/images/dashboard6.png">
  </div>
</div>

<div class="row">
  <div class="column small-12 medium-6">
    <h3 class="details-header">Spend by Carrier Category</h3>
    <img src="/assets/images/dashboard7.png">
  </div>
  <div class="column small-12 medium-6">
    <h3 class="details-header">Average Spend by Device Type</h3>
    <img src="/assets/images/dashboard8.png">
  </div>
</div>
