<ul class="sidebar-nav">
  <li>
    <a href="#" {{action 'toggleSidebar' target='controllers.application'}} class="sidebarVisibilityControl">
      <span class="fa fa-arrow-left"></span> Hide Filters
    </a>
  </li>
  <li class="text-input-container">
    <label for="filters-username">Username:</label>
    <input type="text" id="filters-username" />
  </li>
  <li class="text-input-container">
    <label for="filters-mobile">Mobile&nbsp;#:</label>
    <input type="text" id="filters-mobile" />
  </li>
  <li class="select-container">
    <span>Bill Month:</span>
    <span class="value">August</span>
    <span class="fa fa-chevron-down"></span>

    <div class="options">

      <ul>
        <li><span class="fa"></span> January</li>
        <li><span class="fa"></span> February</li>
        <li><span class="fa"></span> March</li>
        <li><span class="fa"></span> April</li>
        <li><span class="fa"></span> May</li>
        <li><span class="fa"></span> June</li>
        <li><span class="fa"></span> July</li>
        <li><span class="fa fa-check"></span> August</li>
        <li><span class="fa"></span> September</li>
        <li><span class="fa"></span> October</li>
        <li><span class="fa"></span> November</li>
        <li><span class="fa"></span> December</li>
      </ul>
  </li>
  <li class="select-container">
    <span>Account Number:</span>
    <span class="value">All</span>
    <span class="fa fa-chevron-down"></span>
  </li>
  <li class="select-container">
    <span>Invoice Number:</span>
    <span class="value">All</span>
    <span class="fa fa-chevron-down"></span>
  </li>
  <li class="select-container active">
    <span>Carrier:</span>
    <span class="value">Verizon</span>
    <span class="fa fa-chevron-down"></span>

    <div class="options active">

      <ul>
        <li><span class="fa"></span> All</li>
        <li><span class="fa fa-check"></span> Verizon</li>
        <li><span class="fa"></span> AT&amp;T</li>
        <li><span class="fa"></span> Sprint</li>
      </ul>
    </div>
  </li>
  <li class="select-container">
    <span>Device Type:</span>
    <span class="value">All</span>
    <span class="fa fa-chevron-down"></span>

    <div class="options">

      <ul>
        <li><span class="fa fa-check"></span> All</li>
        <li><span class="fa"></span> iPhone</li>
        <li><span class="fa"></span> Samsung 5S</li>
      </ul>
    </div>
  </li>
  <li class="select-container">
    <span>Device OS:</span>
    <span class="value">All</span>
    <span class="fa fa-chevron-down"></span>
    <div class="options">

      <ul>
        <li><span class="fa fa-check"></span> All</li>
        <li><span class="fa"></span> iOS</li>
        <li><span class="fa"></span> Android</li>
        <li><span class="fa"></span> Blackberry OS</li>
        <li><span class="fa"></span> Symbian</li>
      </ul>
    </div>
  </li>
  <li class="select-container">
    <span>Country</span>
    <span class="value">All</span>
    <span class="fa fa-chevron-down"></span>
  </li>
  <li class="select-container">
    <span>Region</span>
    <span class="value">All</span>
    <span class="fa fa-chevron-down"></span>
  </li>
  <li class="controls">
    <button {{action 'run'}}><span class="fa fa-check"></span> Run Filters</button><button {{action 'reset'}}>Reset</button>
  </li>
</ul>

<a href="https://www.wirelessanalytics.com/" class="powered-by active" target="_blank">
  <img src="/assets/images/poweredby.png">
</a>

